<h1 class="welcome"> Welcome!</h1>
<% if user_signed_in? %>
<p><%= "Welcome to the Animal Advocacy Conference, you are signed in as #{current_user.email}" %></p>


<p>
To join the sessions and get more information about them, please navigate to the <a href = "home/schedule">schedule</a>.
</p>

<p>
Please navigate to <a href = "home/poster">posters</a> to view the poster session.
</p>
<br>

<p>The Animal Advocacy Conference brings together, for the first time, researchers from different fields in the social and behavioral sciences, and animal activists and advocates from around the world.

Learn about the latest ideas, findings and campaigns in the following domains:<br><br>

  The psychological, social, and societal factors shaping how we perceive and think about animals, human-animal relations, and animal welfare and rights
  The impact of advocacy and activism strategies related to animal rights, veganism, meat reduction and reduction of other animal products (e.g., dairy, eggs)
  The social and behavioral science of animal cruelty, meat consumption (and other animal-product consumption), vegetarianism/veganism, and speciesism
  The connections and intersections between human-animal relations and human intergroup relations as well as between animal ethics and other social justice domains including environmentalism, feminism, and anti-racism

This conference uniquely bridges the gap between academic researchers and activists/professionals in the field of vegan and animal rights advocacy. We will create a stimulating environment where academics and activists/advocates exchange relevant knowledge, engage in lively debates, share their ideas, and can start collaborations.
</p>
<br>
<div class="quiz">
<center><img src="https://us.123rf.com/450wm/christitze/christitze1702/christitze170235056/72859604-quiz-fluorescent-neon-tube-sign-on-brickwork-front-view-3d-rendered-royalty-free-stock-picture-can-b.jpg?ver=6" alt="Logo" width="flex" height="flex" /> </center>
</div>
<br>


<h3>
Do you have what it takes to be a true veg-head? 
</h3>
<p>
How knowledgeable are you of vegan culture? Can you distinguish the tortuous, Ringwraith-like bugle call of the great elk from the muted, low-pitched bleat of a baby giraffe? 
Join us for an evening of "Veg-Head Trivia" -- a quiz night on day 2 of the conference, run by members of the SHARKLab team. A chance to relax, mingle with other conference attendants, have fun, and test your knowledge of all-things vegan. 
To join us and be assigned to a team, please click this <a href = "https://lancasteruni.eu.qualtrics.com/jfe/form/SV_79FZUN8MRVz28f4"target="_blank">link</a>  to fill out our registration survey (just your name and email). Hope to see you there!
</p>
<%else %>
  <p> Welcome to the Animal Advocacy Conference. Please <a href = "users/sign_in">sign in</a> using the details emailed to you.</p>
<%end%>
<br><br><br><br><br>

