<div class = "keyinfo">
<h3>Wednesday, June 30</h3>
<h3> 15:30-16:30 </h3
</div>
<br>
<div class = "key">
<div class="card" style="width: 40rem;">
<img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/09/Catherine_Amiot.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Prof Catherine Amiot</h4>
    <h5 class="card-title">Toward an understanding of
our psychological connection with other animals</h5>
    <p class="card-text">Catherine E. Amiot, PhD, is a Professor at the department of Psychology, University of Québec in Montréal. Her research focuses on intergroup relations and self and identity processes, and in what ways these theoretical principles apply (or not) to human-animal relations in particular. Specifically, she seeks to understand how we can come to identify with animals as a broad and inclusive social group, and what social- and individual-level factors impede vs. promote mutually beneficial human-animal relations. 
    <br>
    <br> Website:  https://professeurs.uqam.ca/professeur/amiot.catherine/ 
    <br>     
    <br>Twitter: @CatherineAmiot</p>
    <br>
    <a href="https://zoom.us/j/94201023235" class="btn btn-primary">Go to talk</a>
  </div>
</div>
</div>

<h5>
Abstract
</h5>

<p>
While from a biological perspective, humans are considered to be part of
the animal kingdom, people differ widely in their perceptions of belonging to
this particularly inclusive social group. Furthermore, the nature of our
psychological connection with other animals is just beginning to receive
empirical attention. This talk presents studies conducted to discover the
different ways we can feel connected to, and identify with, animals and
their implications, both for other animals and for fellow humans.
</p>
<br>
<br>
<br>
<br>