<h3>The Animal Advocacy Conference goes virtual: June 30 – July 2, 2021.</h3>
<h3> 15:00-16:00 </h3>
</br>
<div class = "key">
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/Tobias.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Tobias Leenaert</h4>
    <h5 class="card-title">Making Compassion Easier</h5>
    <p class="card-text">Tobias Leenaert studied Germanic languages and comparative sciences of culture at the University of Ghent, Belgium. He is the author of How to Create a Vegan World: A Pragmatic Approach, and blogs about animal advocacy issues at www.veganstrategist.org. Tobias is a longtime speaker and strategist, and gives vegan advocacy trainings all over the world for the Center for Effective Vegan Advocacy (CEVA), which he co-founded with Dr Melanie Joy. He is also co-founder of the Belgian vegetarian organization EVA and of  ProVeg International, a  pro-vegan organization with the mission to reduce the global consumption of animals by 50% by the year 2040.</p>
    <a href="https://zoom.us/j/94724198593" class="btn btn-primary">Go to talk</a>
  </div>
</div>
</div>

<h5>
Abstract
</h5>

<p>
TBA
</p>

<h5>
Discussion panel:
</h5>

<p>
TBA
</p>