<div class = "keyinfo">
<h3>Friday, July 2</h3>
<h3> 18:00-19:00 </h3>
</div>
<br>
<div class = "key">
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Prof Gordon Hodson</h4>
    <h5 class="card-title">Animals and Animus:
How our Relations with Animals Speak to the Essence of Human Nature</h5>
    <p class="card-text">Gordon Hodson, PhD, is a Professor of Psychology at Brock University (Canada). His research interests concern prejudice and 
    discrimination, with a focus on ideology, intergroup contact/friendship, dehumanization, and human-animal relations (e.g., speciesism). 
    He co-edited Advances in Intergroup Contact (Hodson & Hewstone, 2013) and Why We Love and Exploit Animals (Dhont & Hodson, 2020) and presently serves as
     Editor-in-Chief at the European Review of Social Psychology. He is a fellow of the Association for Psychological Science (APS), 
     Society of Experimental Social Psychology (SESP), and the Society for Personality and Social Psychology (SPSP).<br><br> Website:  Website: www.hodsonlab.com
     <br>
    <br>
      Twitter: @GordonHodsonPhD</p>
      <br>
    <a href="https://zoom.us/j/92306175985" class="btn btn-primary">Go to talk</a>
  </div>
</div>
</div>

<h5>
Abstract
</h5>

<p>
Historically, if psychologists studied non-human animals their research
focused on animals as the subjects of inquiry, often as proxies for humans
or as comparators to humans, with animals frequently exploited and/or
harmed in the process. Today we witness the burgeoning study of human-
animal relations, with humans as the subject of inquiry, especially with
regard to our thinking about and treatment of animals. This repositioning (or
pivot) has been a veritable game changer, with implications not only for
animals and their welfare but for the study of human nature itself. In his
keynote address Gordon Hodson addresses how this New Look at Animals
serves to: (1) shed new light on humans and human nature (e.g.,
paradoxes; rationalizations); and (2) provide insights into interventions
required to face the animal-linked challenges of the 21st century, including
the climate emergency and future public health crises (e.g., pandemics).
This New Look and its body of evidence force us to ask the truly difficult but
enlightening questions concerning #WhyWeLoveAndExploitAnimals. It also
flags new challenges, including a growing pushback from mainstream
society and explicit prejudices against animal advocates, not to mention
clear tensions arising within animal rights movements. Recommendations
for the future of the discipline, and for further bridge-building between
academia and animal advocacy, are explored.
</p>
<br>
<br>
<br>
<br>