<% if user_signed_in? %>
<h1 class="kh1"> Keynote Speakers </h1>

<h3 class="kh1">The Animal Advocacy Conference goes virtual: June 30 – July 2, 2021.</h3>
</br>
<div class="align">
<div class="card" style="width: 40rem;">
<img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/09/Catherine_Amiot.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Prof Catherine Amiot</h4>
    <h5 class="card-title">Toward an understanding of
our psychological connection with other animals</h5>
    <p class="card-text">Catherine E. Amiot, PhD, is a Professor at the department of Psychology, University of Québec in Montréal. Her research focuses on intergroup relations and self and identity processes, and in what ways these theoretical principles apply (or not) to human-animal relations in particular. Specifically, she seeks to understand how we can come to identify with animals as a broad and inclusive social group, and what social- and individual-level factors impede vs. promote mutually beneficial human-animal relations.</p>
    <a href="https://zoom.us/j/94201023235" target="_blank" class="btn btn-primary">Go to talk</a> <a href="key1" class="btn btn-primary">Information</a> </td></td>
  </div>
</div>
</div>

</br>

<div class="align">
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/Tobias.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Tobias Leenaert</h4>
    <h5 class="card-title">Making compassion easier: A pragmatic approach to help farmed animals</h5>
      <p class="card-text">Tobias Leenaert studied Germanic languages and comparative sciences of culture at the University of Ghent, 
    Belgium. He is the author of How to Create a Vegan World: A Pragmatic Approach, and blogs about animal advocacy issues at
    www.veganstrategist.org. Tobias is a long-time speaker and strategist, and has given vegan advocacy trainings all over the
    world. He is also co-founder of the Belgian vegetarian organization EVA and of ProVeg International, 
    a pro-vegan organization with the mission to reduce the global consumption of animals by 50% by the year 2040.
</p>
    <a href="https://zoom.us/j/94724198593" target="_blank" class="btn btn-primary">Go to talk</a> <a href="key2" class="btn btn-primary">Information</a>
  </div>
</div>
</div>

</br>


<div class="align">
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Prof Gordon Hodson</h4>
    <h5 class="card-title">Animals and Animus:
How our Relations with Animals Speak to the Essence of Human Nature</h5>
    <p class="card-text">Gordon Hodson, PhD, is a Professor of Psychology at Brock University (Canada). His research interests concern prejudice and discrimination, with a focus on ideology, intergroup contact/friendship, dehumanization, and human-animal relations (e.g., speciesism). He co-edited Advances in Intergroup Contact (Hodson & Hewstone, 2013) and Why We Love and Exploit Animals (Dhont & Hodson, 2020) and presently serves as Editor-in-Chief at the European Review of Social Psychology. He is a fellow of the Association for Psychological Science (APS), Society of Experimental Social Psychology (SESP), and the Society for Personality and Social Psychology (SPSP).</p>
    <a href="https://zoom.us/j/92306175985" target="_blank" class="btn btn-primary">Go to talk</a> <a href="key3" class="btn btn-primary">Information</a> </td></td>
  </div>
</div>
</div>

<%else %>
  <p>Please sign in to view the content.</p>
<%end%>