<h3>
Effective Animal Advocacy: The Reducetarian vs Abolitionist Approach to Animal Liberation
</h3>
<br>
<h3>
16:15-17:45
</h3>
<br>
<img src="https://blogs.kent.ac.uk/animaladvocacy/files/2021/06/Debate-promo-Animal-Advocacy-Conference-updated.jpg" alt="Logo" width="flex" height="flex" />
<br>
<br>
<p>
In this panel discussion, four prominent animal advocates with years of experience in the animal rights movement, 
yet with diverse backgrounds, will discuss the effectiveness of reducetarian and abolitionist approaches to vegan and 
animal advocacy. What are the key differences and similarities in theory and practice? The panel will also explore 
what it means tobe “effective” and how much space there is for pragmatism and idealism in both approaches.
</p>

<h5>
Moderators: Kristof Dhont and Maria Ioannidou
<br>
<br>
Panel members:
</h5>

<p>
Jo Anderson (Faunalytics)
Corey Wrenn (University of Kent, Vegan Feminist Network)
Tobias Leenaert (ProVeg International)
Nella Giatrakou (The Animal Rights Show)
</p>
<div class=sess_btn>
<a href="https://zoom.us/j/91310348297" target="_blank" class="btn btn-primary">Join Session</a>
</div>
<div class=back_btn>
<a href="schedule" class="btn btn-primary">Schedule</a> 
</div>
