<% if user_signed_in? %>
<h3>
Effective Animal Advocacy: The Reducetarian vs Abolitionist Approach to Animal Liberation
</h3>
<br>
<h3>
Thursday, July 1 16:15-17:45
</h3>
<br>
<div class="quiz">
<img src="https://kent.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=8b56326e-f0ac-4153-b278-ad5c010ae43a " alt="Panel" width="flex" height="flex" />
</div>
<br>
<p>
In this panel discussion, four prominent animal advocates with years of experience in the animal rights movement, 
yet with diverse backgrounds, will discuss the effectiveness of reducetarian and abolitionist approaches to vegan and 
animal advocacy. What are the key differences and similarities in theory and practice? The panel will also explore 
what it means tobe “effective” and how much space there is for pragmatism and idealism in both approaches.
</p>

<h5>
Moderators: Kristof Dhont and Maria Ioannidou
<br>
<br>
Panel members:
</h5>

<p>
Corey Wrenn (University of Kent, Vegan Feminist Network) <br>
Tobias Leenaert (ProVeg International)<br>
Nella Giatrakou (The Animal Rights Show)<br>
Jamie Harris (Sentience Institute)
</p>
<br>
<h5>
Bios
</h5>

<p>
Corey Wrenn, PhD is Lecturer of Sociology in the School of Social Policy, Sociology and Social Research (SSPSSR) 
at the University of Kent and co-director of the Centre for the Study of Social and Political Movements. 
She served as Chair of the Animals & Society section of the American Sociological Association, and is co-founder of
the International Association of Vegan Sociologists. In July 2013, she founded the Vegan Feminist Network, 
an academic-activist project engaging intersectional social justice praxis. She is the author of A Rational 
Approach to Animal Rights: Extensions in Abolitionist Theory (Palgrave MacMillan), Piecemeal Protest: Animal 
Rights in the Age of Nonprofits (University of Michigan Press), and Animals in Irish Society (SUNY Press).<br>
Website: www.coreyleewrenn.com <br>
Twitter: @DrCoreyLeeWrenn
<br>
<br>
Jamie Harris is a researcher at Sentience Institute, a think tank researching social and technological 
change, focused on moral circle expansion. Jamie's research spans from social movement case studies to 
experiments testing the predictors of opposition to animal farming. He is also the host of the Sentience
 Institute podcast, a co-founder and researcher at Animal Advocacy Careers, and a board member of another 
 research nonprofit, Animal Ask.<br>

Website:  www.sentienceinstitute.org/ <br>
Twitter: @SentienceInst
<br>
<br>

Nella Giatrakou is an animal rights activist based in Athens. She volunteers for grassroots organizations 
and is a member of the The Animal Rights Show team, an initiative aiming to explore issues related to 
veganism and Animal Rights and to bridge the gap between academia and the grassroots movement through 
weekly live discussions. She studied translation at HAU in Athens and work as a freelance translator.<br>
Website: www.facebook.com/TheAnimalRightsShow/ <br>
Twitter: @Nellagtr <br>

</p>


<div class=sess_btn>
<a href="https://kent.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=8b56326e-f0ac-4153-b278-ad5c010ae43a " target="_blank" class="btn btn-primary">Join Session</a>
</div>
<br>
<br>
<br>
<br>
<%else %>
  <p>Please sign in to view the content.</p>
<%end%>
