<% if user_signed_in? %>
<h4>
Click "Go to poster" to view the posters, this will take you to a University of Kent blog page, where the poster is hosted. 
Some poster presenters submitted audio files explaining their poster. These can be found below the posters. Please use the comment function below the poster to ask the presenters questions.<br>
<br>
Note: In order to leave comments, you need to be logged into blogs.kent.ac.uk. If you have a Kent IT account, please log in with your Kent email and password.   If you do not have a Kent IT account, please register for blogs.kent.ac.uk when prompted to do so.
</h4>
<br>
<div class="row">
<div class="card" style="width: 40rem;">
<img src="https://i.imgur.com/2tRRmmn.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h4 class="card-title">Luke Herchenroeder</h4>
    <h5 class="card-title">The Effectiveness of Health, Environmental, and Animal Welfare Focused Video Appeals on Implicit and Explicit Wanting of Meat and Intentions to Reduce Meat Consumption</h5>
    <a href="https://blogs.kent.ac.uk/animaladvocacy/the-effectiveness-of-health-environmental-and-animal-welfare-focused-video-appeals-on-implicit-and-explicit-wanting-of-meat-and-intentions-to-reduce-meat-consumption/" class="btn btn-primary" target="_blank">Go to poster</a>
  
  </div>
</div>
</br>
<div class="card" style="width: 40rem;">
  <img src="https://i.imgur.com/mVul9aO.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Eva Spiegelhofer</h4>
    <h5 class="card-title">Animal-Human Encounters and the Potential of Interspecies Communication</h5>
    <a href="https://blogs.kent.ac.uk/animaladvocacy/animal-human-encounters-and-the-potential-of-interspecies-communication/" class="btn btn-primary" target="_blank">Go to poster</a>
  </div>
</div>
<div class="card" style="width: 40rem;">
  <img src="https://i.imgur.com/oameMBX.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Marta K. Wronska</h4>
    <h5 class="card-title">Creativity in Solving the Problem of Animal Suffering</h5>
    <a href="https://blogs.kent.ac.uk/animaladvocacy/creativity-in-solving-the-problem-of-animal-suffering/" class="btn btn-primary" target="_blank">Go to poster</a>
  </div>
</div>
</br>
<div class="card" style="width: 40rem;">
  <img src="https://i.imgur.com/xDT4Zqa.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Chris Sangster</h4>
    <h5 class="card-title">A ‘Cete’ at the Table: Representation of Wildlife Interests Through the Lens of the Badger Cull</h5>
    <a href="https://blogs.kent.ac.uk/animaladvocacy/a-cete-at-the-table-representation-of-wildlife-interests-through-the-lens-of-the-badger-cull/" class="btn btn-primary" target="_blank">Go to poster</a>
  </div>
</div>
</div>
<div class="row">
<div class="card" style="width: 40rem;">
  <img src="https://i.imgur.com/CCOmZ5v.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Courtney Dillard</h4>
    <h5 class="card-title">Dishing with Americans About Alternative Proteins</h5>
    <a href="https://blogs.kent.ac.uk/animaladvocacy/dishing-with-americans-about-alternative-proteins/" class="btn btn-primary" target="_blank">Go to poster</a>
  </div>
</div>
</br>
<div class="card" style="width: 40rem;">
 <img src="https://i.imgur.com/Eoxg6zR.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Tiago Pestilla Fabbri</h4>
    <h5 class="card-title">The right to be sustainable: A case study of the Portuguese law that compels public canteens to provide vegan options in their menus</h5>
    <a href="https://blogs.kent.ac.uk/animaladvocacy/the-right-to-be-sustainable-a-case-study-of-the-portuguese-law-that-compels-public-canteens-to-provide-vegan-options-in-their-menus/" class="btn btn-primary" target="_blank">Go to poster</a>
  
  </div>
</div>
<div class="card" style="width: 40rem;">
  <img src="https://i.imgur.com/5eKxSDi.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Madelon North</h4>
    <h5 class="card-title">How to Define “Vegan”: An Exploratory Study of Definition Preferences Among Omnivores, Vegetarians, and Vegans</h5>
    <a href="https://blogs.kent.ac.uk/animaladvocacy/how-to-define-vegan-an-exploratory-study-of-definition-preferences-among-omnivores-vegetarians-and-vegans/" class="btn btn-primary" target="_blank">Go to poster</a>
  </div>
</div>
</br>
<div class="card" style="width: 40rem;">
  <img src="https://i.imgur.com/A8iTHjZ.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title"> Rebecca Gregson</h4>
    <h5 class="card-title">What Can Animal Advocates Learn from r/AntiVegan?</h5>
    <a href="https://blogs.kent.ac.uk/animaladvocacy/what-can-animal-advocates-learn-from-r-antivegan-2/" class="btn btn-primary" target="_blank">Go to poster</a>
  </div>
</div>
</div>
<div class="row">
<div class="card" style="width: 40rem;">
  <img src="https://i.imgur.com/PhT37Il.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Heather Henseler-Kozachenko</h4>
    <h5 class="card-title">Perceptual Dimensions Influencing Moral Judgements of Animals in Children and Adults</h5>
    <a href="https://blogs.kent.ac.uk/animaladvocacy/perceptual-dimensions-influencing-moral-judgements-of-animals-in-children-and-adults/" class="btn btn-primary" target="_blank">Go to poster</a>
  </div>
</div>
</br>
<div class="card" style="width: 40rem;">
  <img src="https://i.imgur.com/4oFW8iX.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Jamie Woodhouse</h4>
  <h5 class="card-title">Sentientism: Evidence, Reason, and Compassion for All Sentient Beings</h5>
    <a href="https://blogs.kent.ac.uk/animaladvocacy/sentientism-evidence-reason-and-compassion-for-all-sentient-beings/" class="btn btn-primary" target="_blank">Go to poster</a>
  </div>
</div>
<div class="card" style="width: 40rem;">
  <img src="https://i.imgur.com/KjDFsxn.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">Adéla Novotná</h4>
   <h5 class="card-title">The Influence of Movie on Change in Meat and Dairy Product Consumption</h5>
    <a href="https://blogs.kent.ac.uk/animaladvocacy/the-influence-of-movie-on-change-in-meat-and-dairy-product-consumption/" class="btn btn-primary" target="_blank">Go to poster</a>
  </div>
</div>


</div>
<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
<%end%>



