<% if user_signed_in? %>
<div class="row">
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">1</h4>
    <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster1" class="btn btn-primary">Go to poster</a>
  </div>
</div>
</br>
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">2</h4>
    <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster2" class="btn btn-primary">Go to poster</a>
  </div>
</div>
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">3</h4>
    <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster3" class="btn btn-primary">Go to poster</a>
  </div>
</div>
</br>
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">4</h4>
    <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster4" class="btn btn-primary">Go to poster</a>
  </div>
</div>
</div>
<div class="row">
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">5</h4>
    <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster5" class="btn btn-primary">Go to poster</a>
  </div>
</div>
</br>
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">6</h4>
    <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster6" class="btn btn-primary">Go to poster</a>
  </div>
</div>
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">7</h4>
    <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster7" class="btn btn-primary">Go to poster</a>
  </div>
</div>
</br>
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">8</h4>
    <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster8" class="btn btn-primary">Go to poster</a>
  </div>
</div>
</div>
<div class="row">
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">9</h4>
    <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster9" class="btn btn-primary">Go to poster</a>
  </div>
</div>
</br>
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">10</h4>
  <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster10" class="btn btn-primary">Go to poster</a>
  </div>
</div>
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">11</h4>
   <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster11" class="btn btn-primary">Go to poster</a>
  </div>
</div>
</br>
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">12</h4>
    <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster12" class="btn btn-primary">Go to poster</a>
  </div>
</div>
</div>
<div class="row">
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h4 class="card-title">13</h4>
    <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster13" class="btn btn-primary">Go to poster</a>
  </div>
</div>
</br>
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">14</h4>
    <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster14" class="btn btn-primary">Go to poster</a>
  </div>
</div>
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">15</h4>
    <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster15" class="btn btn-primary">Go to poster</a>
  </div>
</div>
</br>
<div class="card" style="width: 40rem;">
  <img src="https://blogs.kent.ac.uk/animaladvocacy/files/2019/08/gordon-hodson-psychology-brock-university.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">16</h4>
    <h5 class="card-title">Title</h5>
    <p class="card-text">Information</p>
    <a href="poster16" class="btn btn-primary">Go to poster</a>
  </div>
</div>
</div>
<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
<%end%>



