<% if user_signed_in? %>
<div class="quiz">
<center><img src="https://us.123rf.com/450wm/christitze/christitze1702/christitze170235056/72859604-quiz-fluorescent-neon-tube-sign-on-brickwork-front-view-3d-rendered-royalty-free-stock-picture-can-b.jpg?ver=6" alt="Logo" width="flex" height="flex" /> </center>
</div>
<br>
<br>
<h3>  Thursday, July 1, 20:00-21:30 </h3>

<br>
<h3>
Do you have what it takes to be a true veg-head? 
</h3>
<br>
<p>
How knowledgeable are you of vegan culture? Can you distinguish the tortuous, Ringwraith-like bugle call of the great elk from the muted, low-pitched bleat of a baby giraffe? 
Join us for an evening of "Veg-Head Trivia" -- a quiz night on day 2 of the conference, run by members of the SHARKLab team. A chance to relax, mingle with other conference attendants, have fun, and test your knowledge of all-things vegan. 
To join us and be assigned to a team, please click this <a href = "https://lancasteruni.eu.qualtrics.com/jfe/form/SV_79FZUN8MRVz28f4"target="_blank">link</a>  to fill out our registration survey (just your name and email). Hope to see you there!
</p>
<br><br><br><br><br><br><br><br>
<%else %>
  <p>Please sign in to view the content.</p>
<%end%>