<h1> Schedule </h1>
<% if user_signed_in? %>
<h3>June 30 – July 2, 2021.</h3>
</br>

<h4>Invited Symposia </h4>
</br>
<h5>Emma Alleyne, PhD:</h5>
<p>Understanding why adults abuse animals: New developments in theory and evidence-based practice </p>
<h5>Catherine Amiot, PhD: </h5>
<p>Psychological processes and factors involved in human-animal relations: Implications for advocacy, social issues surrounding the place of animals in human lives, and fundamental questions on the nature of the human self.</p>
<h5>Jim A.C. Everett, PhD:</h5>
<p>Expanding the moral circle: New directions in the moral psychology of speciesism</p>
<h5>Alex Lockwood, PhD:</h5>
<p>Encircling the animal-industrial complex: social science reflections on Animal Rebellion and the legacy of direct action for climate/animal activism</p>
<h5>Jared Piazza, PhD and Steve Loughnan, PhD:</h5>
<p>How to help people ditch meat: What works?</p>
<h5>Corey Wrenn, PhD:</h5>
<p>Corey Wrenn, PhD: Animal rights big and small: Considering scale of activism
</p>
<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
<%end%>