<h1> Schedule </h1>
<% if user_signed_in? %>
<br>
<h4>
Please note that all times are in  British Summer Time. Click <a href = "https://www.thetimezoneconverter.com/" target="_blank">here</a> to convert to your own time zone.
</h4>
<br>
<h3>Wednesday, June 30.</h3>
</br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Title</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">10:00-10:30</th>
      <td> <b> Opening talk / Welcome </b> <br> Kristof Dhont (Conference Chair) </td>
      <td><a href="https://zoom.us/j/93160628501 " target="_blank" class="btn btn-primary">Join Session</a></td>
    </tr>

     <tr>
      <th scope="row">10:30-12:00</th>
      <td> <b> Symposium 1 </b> (Invited) <br> Chairs: Jared Piazza & Steve Loughnan <br> How to help people ditch meat: What works?  </td>
      <td><a href="https://zoom.us/j/93160628501 " target="_blank" class="btn btn-primary">Join Session</a> <a href="symposium1" class="btn btn-primary">Information</a> </td>
    </tr>

      <tr>
      <th scope="row">12:00-12:30</th>
      <td> <b> Break </b> 
      <td>
    </tr>
    
    <tr>
      <th scope="row">12:30-13:45</th>
      <td> <b> Session 1 </b> (Invited) <br> Chair: Stefan Leach <br> Perspectives on speciesism and the moral standing of animals. </td>
      <td><a href="https://zoom.us/j/99897209481" target="_blank" class="btn btn-primary">Join Session</a> <a href="session1" class="btn btn-primary">Information</a> </td>
    </tr>

      <tr>
      <th scope="row">13:45-14:00</th>
      <td> <b> Break </b> 
      <td>
    </tr>

      <tr>
      <th scope="row">14:00-15:15</th>
      <td> <b> Symposium 2 </b> (Invited) <br> Chair: Alex Lockwood <br> Encircling the animal-industrial complex: Social science reflections on Animal Rebellion <br> and the legacy of direct action for climate/animal activism  </td>
      <td><a href="https://zoom.us/j/94331454600" target="_blank" class="btn btn-primary">Join Session</a>     <a href="symposium2" class="btn btn-primary">Information</a> </td>
    </tr>

      <tr>
      <th scope="row">15:15-15:30</th>
      <td> <b> Break </b> 
      <td>
    </tr>

      <tr>
      <th scope="row">10:00-10:30</th>
      <td> <b> Keynote 1: Catherine Amiot </b> <br> Toward an understanding of our psychological connection with other animals </td>
      <td><a href="https://zoom.us/j/94201023235" target="_blank" class="btn btn-primary">Join Session</a> <a href="key1" class="btn btn-primary">Information</a> </td></td>
    </tr>

     <tr>
      <th scope="row">16:30-16:45</th>
      <td> <b> Break </b> 
      <td>
    </tr>

     <tr>
      <th scope="row">216:45–18:00</th>
      <td> <b> Symposium 3 </b> (Invited) <br> Chairs: Kristof Dhontand Rose Meleady <br> Ideological roots of speciesism, environmentalism,and meat consumption </td>
      <td><a href="https://zoom.us/j/95157437510" target="_blank" class="btn btn-primary">Join Session</a> <a href="symposium3" class="btn btn-primary">Information</a> </td>
    </tr>

    <tr>
      <th scope="row">18:00-18:30</th>
      <td> <b> Break </b> 
      <td>
    </tr>

       <tr>
      <th scope="row">18:30–20:00</th>
      <td> <b> Session 2 </b> <br> Chair: Stefan Leach <br> Meat consumption and meat reduction </td>
      <td><a href="https://zoom.us/j/93657986438" target="_blank" class="btn btn-primary">Join Session</a> <a href="session2" class="btn btn-primary">Information</a> </td>
    </tr>

     <tr>
      <th scope="row"></th>
      <td> <b> Session 3 </b> <br> Chair: Victoria Krings <br> Human-animal contact & relationships </td>
      <td><a href="https://zoom.us/j/93475983792" target="_blank" class="btn btn-primary">Join Session</a> <a href="session3" class="btn btn-primary">Information</a> </td>
    </tr>

     <tr>
      <th scope="row">20:00-20:15</th>
      <td> <b> Break </b> 
      <td>
    </tr>

      <tr>
      <th scope="row">20:15–21:30</th>
      <td> <b> Session 4 </b> <br> Chair: Alina Salmen <br> Intersectional perspectives </td>
      <td><a href="https://zoom.us/j/95588259268" target="_blank" class="btn btn-primary">Join Session</a> <a href="session4" class="btn btn-primary">Information</a> </td>
    </tr>
    <tr>
  </tbody>
</table>
<br>
<h3>Thursday, July 1.</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Title</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
     <tr>
      <th scope="row">09:30-10:45</th>
      <td> <b> Symposium 4 </b> (Invited) <br> Chair: Emma Alleyne <br> Understanding why adults abuse animals: New developments in theory and evidence-based <br> practice  </td>
      <td><a href="https://zoom.us/j/91291563677" target="_blank" class="btn btn-primary">Join Session</a> <a href="symposium4" class="btn btn-primary">Information</a> </td>
    </tr>

      <tr>
      <th scope="row">10:45-11:00</th>
      <td> <b> Break </b> 
      <td>
    </tr>
    
    <tr>
      <th scope="row">11:00-12:30</th>
      <td> <b> Session 5 </b><br> Chair: Kristof Dhont <br> Animal activism & advocacy </td>
      <td><a href="https://zoom.us/j/99323899802" target="_blank" class="btn btn-primary">Join Session</a> <a href="session5" class="btn btn-primary">Information</a> </td>
    </tr>

      <tr>
      <th scope="row">13:30-13:30</th>
      <td> <b> Break </b> 
      <td>
    </tr>

     <tr>
      <th scope="row">09:30-10:45</th>
      <td> <b> Symposium 5 </b> (Invited) <br> Chair: Corey Wrenn <br> Animal rights big and small: Considering scale of activism  </td>
      <td><a href="https://zoom.us/j/99906087537" target="_blank" class="btn btn-primary">Join Session</a> <a href="symposium5" class="btn btn-primary">Information</a> </td>
    </tr>

      <tr>
      <th scope="row">14:45-15:00</th>
      <td> <b> Break </b> 
      <td>
    </tr>

    <tr>
      <th scope="row">15:00-16:00</th>
      <td> <b> Keynote 2: Tobias Leenaert </b> <br> Toward an understanding of our psychological connection with other animals </td>
      <td><a href="https://zoom.us/j/94724198593" target="_blank" class="btn btn-primary">Join Session</a> <a href="key2" class="btn btn-primary">Information</a> </td></td>
    </tr>

       <tr>
      <th scope="row">16:00-16:15</th>
      <td> <b> Break </b> 
      <td>
    </tr

      <tr>
      <th scope="row">16:15-17:45</th>
      <td> <b> Discussion Panel: Effective Animal Advocacy  </b> <br> Moderators: Kristof Dhont & Maria Ioannidou </td>
      <td><a href="https://zoom.us/j/91310348297" target="_blank" class="btn btn-primary">Join Session</a> <a href="panel" class="btn btn-primary">Information</a> </td>
    </tr>

      <tr>
      <th scope="row">18:00-18:30</th>
      <td> <b> Break </b> 
      <td>
    </tr

      <tr>
      <th scope="row">18:30-20:00</th>
      <td> <b> Session 6 </b><br> Chair: Alina Salmen <br> The psychology of vegans and vegetarians </td>
      <td><a href="https://zoom.us/j/95897129679" target="_blank" class="btn btn-primary">Join Session</a> <a href="session6" class="btn btn-primary">Information</a> </td>
    </tr>

    <tr>
      <th scope="row">20:00-21:30</th>
      <td> <b> Quiz! </b> 
      <td> <a href="quiz" class="btn btn-primary">Information</a> </td>
      <td>
    </tr

    <tr>
  </tbody>
</table>

<br>
<h3>Friday, July 2.</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Title</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
     <tr>
      <th scope="row">09:30-11:00</th>
      <td> <b> Symposium 6 </b> <br> Chair: Matthew Ruby <br> Barriers and deterrents to plant-based diets </td>
      <td><a href="https://zoom.us/j/97512398666" target="_blank" class="btn btn-primary">Join Session</a> <a href="symposium6" class="btn btn-primary">Information</a> </td>
    </tr>

      <tr>
      <th scope="row">11:00-11:15</th>
      <td> <b> Break </b> 
      <td>
    </tr>
    
    <tr>
      <th scope="row">11:15-12:45</th>
      <td> <b> Session 7 </b><br> Chair: Rebecca Gregson <br> Messaging & interventions </td>
      <td><a href="https://zoom.us/j/93856863427" target="_blank" class="btn btn-primary">Join Session</a> <a href="session7" class="btn btn-primary">Information</a> </td>
    </tr>

      <tr>
      <th scope="row">12:45-13:30</th>
      <td> <b>Break </b> 
      <td>
    </tr>

      <tr>
      <th scope="row">13:30-15:00</th>
      <td> <b> Session 8 </b><br> Chair: Steve Loughnan <br> Social-cognitive perspectives on meat consumption </td>
      <td><a href="https://zoom.us/j/92770921395" target="_blank" class="btn btn-primary">Join Session</a> <a href="session8" class="btn btn-primary">Information</a> </td>
    </tr>

    <tr>
      <th scope="row"></th>
      <td> <b> Session 9 </b><br> Chair: Maria Ioannidou <br> Wild animals </td>
      <td><a href="https://zoom.us/j/91624219190" target="_blank" class="btn btn-primary">Join Session</a> <a href="session9" class="btn btn-primary">Information</a> </td>
    </tr>


     <tr>
      <th scope="row">15:00-16:15</th>
      <td> <b> Symposium 7 </b> (Invited) <br> Chair: Catherine Amiot <br> Psychological processes and factors involved in human-animal relations: <br> Implications for advocacy, social issues surrounding the place of animals in human <br> lives, and fundamental questions on the nature of the human self </td>
      <td><a href="https://zoom.us/j/97405421548" target="_blank" class="btn btn-primary">Join Session</a> <a href="symposium7" class="btn btn-primary">Information</a> </td>
    </tr>

    <tr>
      <th scope="row">16:15-16:30</th>
      <td> <b> Break </b> 
      <td>
    </tr>

     <tr>
      <th scope="row">16:30-17:45</th>
      <td> <b> Symposium 8 </b> (Invited) <br> Chair: Jim Everett <br> Expanding the moral circle: New directions in the moral psychology of speciesism </td>
      <td><a href="https://zoom.us/j/91042630129" target="_blank" class="btn btn-primary">Join Session</a> <a href="symposium8" class="btn btn-primary">Information</a> </td>
    </tr>

     <tr>
      <th scope="row">17:45-18:00</th>
      <td> <b> Break </b> 
      <td>
    </tr>

    <tr>
      <th scope="row">18:00-19:00</th>
      <td> <b> Keynote 3: Gordon Hodson </b> <br> Animals and Animus: How our relations with animals speak to the essence of human <br> nature </td>
      <td><a href="https://zoom.us/j/92306175985" target="_blank" class="btn btn-primary">Join Session</a> <a href="key3" class="btn btn-primary">Information</a> </td></td>
    </tr>





  </tbody>
</table>


<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
<%end%>