<div class=sess_btn>
<a href="https://zoom.us/j/99897209481" target="_blank" class="btn btn-primary">Join Session</a>
</div>
<h1>
Perspectives on speciesism and
the moral standing of animals
</h1>
<br>

<h5>
Presentation 1: The effect of species on perceptions of animals:
Predictors and causes
</h5>

<p>
Authors: 
Sarah Gradidge, Magdalena Zawisza, Annelie Harvey, &amp; Daragh
McDermott<br>
Speaker: Sarah Gradige (Anglia Ruskin University)
</p
<h5>
<h5>
Abstract
</h5>
<p>
Pet speciesism (preferring “pet” over “non-pet” animals) increases meat
consumption, harming animal welfare and the environment. Yet, research
on speciesism reduction is sparse. The current three studies address this
gap by exploring speciesism and its predictors. Study 1 (n=160) followed a
2(species: pig/dog)x2(animal personalisation: personalised/non-
personalised) between-subjects design. As predicted, 2x2 between-
subjects ANOVAs revealed lower empathy/willingness to help, and greater
victim derogation/second-hand forgiveness, for pigs (vs. dogs). After
evidencing speciesism’s existence (study 1), study 2 (n=232; regression)
investigated speciesism’s (measured as perceived warmth/competence)
predictors. Alongside other variables (pet status/similarity/familiarity),
subjective and objective self-relevance predicted perceptions of animals.
Specifically, greater subjective self-relevance (liking for pig products)
predicted lower warmth of pigs, whilst greater objective self-relevance
(weekly pig product consumption) predicted greater warmth. Study 3
(n=230, February-April 2020) will causally investigate self-relevance’s
effects on warmth with a 2(objective self-relevance: yes/no)x2(subjective
self-relevance: yes/no) between-subjects design. Informed by causes,
subsequent experiments will test speciesism-reducing interventions.
</p>
<br>
<h5>
Presentation 2: Mixed Messages, Confused Consumption: Animal
Representations on Children&#39;s TV
</h5>

<p>
Author:
Lynda M Korimboccus
<br>
Speaker: Lynda M Korimboccus (independent scholar)
</p>
<h5>Abstract
</h5>
<p>Rationale: We accept most youngsters love animals; however, most also
eat animals and will continue to into adulthood. Paradoxical social attitudes
towards animals develop from childhood, instilled through social norms
from trusted adults and reinforced through consumption of children’s
television (TV) shows, e.g. Peppa Pig. Methods: Culturally normative TV
representations of animals were analysed in 314 free-to-view children’s
shows on three channels across five separate days of UK TV Summer
2020 programming. Some thematic analysis was conducted for further
discussion. Results: 51% of programmes had animal-related content and
over 80% of those had animals in title or lead roles, though few were ‘food’
animal species. Speciesist stereotypes were evident and
anthropomorphism rife in the majority of animated series. Implications:
Since representations undoubtedly influence attitudes, recognising the role
of such culture transmission is vital to challenge and thereafter deconstruct
assumptions about animals, and to help society move to more consistent
praxis.
</p>
<br>
<h5>Presentation 3: Loving some animals, eating others: Species
categorisation in childhood, young adulthood and adulthood
</h5>
<p>
Authors:
Luke McGuire, Sally Palmer, &amp; Nadira Faber <br>
Speaker: Luke McGuire (University of Exeter) </p>
<h5>Abstract</h5>
<p>
Humans care for some animals (e.g. dogs), yet tacitly endorse the
maltreatment of others (e.g. pigs). What treatment we find morally
appropriate depends on whether we characterise animals as “pets” or
“food”. Is this categorisation of animals and the resulting moral hierarchy of
species present in childhood or instead taught through the lifespan?
Comparing samples of children (9-11-years-old), young adults (18-21-
years-old), and adults (29-59-years-old; total N=479), we find that children
as compared to young adults and adults, a) show less speciesism, i.e.
moral worth tied less to species-membership, b) are less likely to

categorise farm animals as food than pets, c) think farm animals ought to
be treated better, and d) deem eating meat and animal products less
morally acceptable. Our findings imply that our moral view of animal worth
is not innate but instead develops over the lifespan in our specific societal
context.
</p>
<br>
<h5>
Presentation 4: Banal speciesism.
</h5>
<p>
Author
Brett Mills (Edge Hill University)<br>
Speaker: Steve Loughnan (University of Edinburgh)</p>

<h5>Abstract</h5>
<p>
The exploitation of animals is reliant upon the creation and maintenance of
speciesist, hierarchical divisions. This process’s effectiveness relies upon
its invisibility, and the communicative strategies human cultures employ to
make sense of the world. This paper will illustrate the specifically banal
ways that speciesism is enacted. In doing so it adopts and develops
Michael Billig’s notion of ‘banal nationalism’ (1995) which posits that the
“routine, almost invisible” (p15) ways in which ‘the nation’ is invoked in
societies represents its most powerful expression. While Billig’s focus is
nationalism, this paper posits that humans’ ‘banal’ use of language has a
similar purpose, but here with anthropocentric ends. Billig attends to the
power embedded in words such as ‘we’, ‘us’ and ‘our’, which invoke
categories of membership without explicitly stating those categories’
boundaries. This paper will examine the use of such terms in a number of
media forms, including news reports and wildlife documentaries. In doing
so it will propose the notion of ‘banal speciesism’, and suggest this is a key
cultural factor that shapes human-animal relations, and thus serves as a
barrier to animal advocacy and justice.
</p>

<div class=sess_btn>
<a href="https://zoom.us/j/99897209481" target="_blank" class="btn btn-primary">Join Session</a>
</div>