<div class=sess_btn>
<a href="https://zoom.us/j/99323899802" target="_blank" class="btn btn-primary">Join Session</a>
</div>
<br>
<h1>
Animal Activism &amp; Advocacy
</h1>

<h3> Thursday, July 1, 11:00-12:30</h3>

<h4>
Chair: Kristof Dhont (University of Kent)
</h4>


<h5>
Presentation 1: Animal exploitation and liberation: into and within the
neoliberal world order
</h5>

<p>
Author:
Mina da Rui <br>
Speaker: Mina da Rui (University of Winchester)
</p>
<h5>Abstract
</h5>
<p>
This is a social science-oriented paper informed by research on global
governance, political economy and critical studies of neoliberalism – both
as ideology and societal modus operandi. It considers the multivalent,
dynamic connections between mass animal exploitation and its economic
and socio-political ecosystem. The objective is to present, for the benefit of
animal advocates or academics not familiar with these considerations,
mutually reinforcing mechanisms such as negative conceptions of freedom,
zero-sum competition, and alienation, linking these two hallmarks of the
contemporary world – financialised, commodifying, extractive capitalism,
and the systematic exploitation and denial of autonomy inflicted upon most
animals – but also opportunities stemming from these. This reflection offers
a historical overview of connections between both phenomena, then
examines, with some comparison with other existing socio-political orders,
how neoliberalism shapes our relationships with animals, which may
provide helpful notions for animal advocates in their efforts to find effective
purchase points in their work.
</p>
<br>

<h5>
Presentation 2: Institutional animal advocacy: a key finding from the
study of past social movements
</h5>

<p>
Author: Jamie Harris<br>
Speaker: Jamie Harris (Sentience Institute)
</h4>

<h5>Abstract
</h5>

<p>
Though animal advocates reference historical social movements to make
ethical arguments and occasionally to provide a basis for their strategy,
there is a deep well of strategic evidence that remains mostly untapped. I
present evidence from three case studies: the British antislavery
movement, European anti-GMO movement, and the U.S. anti-abortion
movement, which suggests that many social movements have had the
most success through institutional tactics. Consumer boycotts against
sugar and abortion pills seem to have helped activists achieve their goals
when used to apply pressure to specific institutions. However, generalised
consumer action such as the U.S. free produce movement’s boycott of
slave-made goods and, arguably, the “green consumerism” of the
environmental movement, have been less effective. These case studies,
taken together with recent survey evidence and the findings from
psychological research, provide compelling evidence that a shift to
institutional animal advocacy may lead to far larger social changes for
animals.
</p>
<br>
<h5>
Presentation 3: Ethics by other means: The Animal Rights Movement
in the political arena
</h5>
<p>
Author: Rocío Thovar <br>
Speaker: Rocío Thovar (University of Barcelona)</h4>
<h5>Abstract</h5>
<p>
Social interest in the Animal Rights Movement (ARM) has increased in
recent decades giving rise to its participation in the public space. ARM
activists have overcome the traditional ways to make their claims heard,
diversifying their strategies, empowering and connecting activists and,
ultimately, putting their petitions in the political agenda. This paper explores
(1) the currently political dimension of Animal Ethics through the
documentary analysis of ARM political initiatives and (2) the political turn in
Animal Ethics through the exploratory-reflexive method. It will be argued
that there is a growing tendency in the ARM activists work toward the
animal’s protection institutionalization. It is further argued that this
phenomenon impacts on the public and transforms the social practices
regarding the way in which we treat animals. Consequently, the criteria of
political participation should be contemplated to create new realities
concerning to animal advocacy, and not only those related to moral.
</p>
<br>

<h5>
Presentation 4: Ideological bases of attitudes towards meat
abstention: Vegetarianism as a threat to the cultural and economic
status quo.
</h5>
<p>
Author: Samantha Stanley<br>
Speaker: Samantha Stanley (Australian National University)</p>
<h5>Abstract</h5>
<p>
Political conservatives eat more meat and engage in more exploitation of
animals than political liberals. One explanation for this association is that
right-wing adherents are more attuned to the ways the veg*nism movement
may threaten their nation&#39;s traditions and economic system. To disentangle
the extent &#39;Veg*nism threat&#39; is driven by symbolic concerns (e.g. to cultural
traditions) and realistic (economic) concerns, I developed a measure that
distinctly captures each threat type in two nations with high per-capita meat
consumption: Australia (Study One, N = 197) and the United States (Study
Two, N = 440). My findings suggest that symbolic concerns are the key
element of veg*nism threat contributing to negative attitudes towards meat
abstention and its proponents, meaning that a key obstacle to acceptance
of meat abstention (and its proponents) is the fear of disrupting the societal
status quo.
</p>

<div class=sess_btn>
<a href="https://zoom.us/j/99323899802" target="_blank" class="btn btn-primary">Join Session</a>
</div>