<div class=sess_btn>
<a href="https://zoom.us/j/92770921395" target="_blank" class="btn btn-primary">Join Session</a>
</div>
<br>
<h1>
 Social-cognitive Perspectives on
Meat Consumption
</h1>
<h3> Friday, July 2, 13:30-15:00 </h3>
<h4>
Chair: Steve Loughnan (University of Edinburgh)
</h4>
<br>

<h5>
Presentation 1: Food for Thought: Investigating Communication
Strategies to Counteract Moral Disengagement Regarding Meat
Consumption
</h5>

<p>
Authors: 
Benjamin Buttlar, Alisa Rothe, Simon Kleinert, Lena Hahn, &amp; Eva
Walther <br>
Speaker: Benjamin Buttlar (University of Trier)
</p>
<h5>Abstract
</h5>
<p>
Eschewing meat would benefit environmental sustainability, human health,
and animal welfare. Nonetheless, many people are reluctant to reduce their
meat consumption although they are conflicted about meat. These dietary
changes are often prevented by dissonance reduction in the form of moral
disengagement. Here, we tested a two-stage intervention strategy that
addresses these moral disengagement strategies: After watching videos of
animal welfare issues in animal agriculture (Stage I), activists used
scientific arguments to counteract people’s attempts to obviate their
responsibility and to deny the harm caused by meat consumption (Stage
II). In two field studies, we demonstrated that people’s evaluations of meat
changed and their willingness to reduce meat consumption increased
incrementally following Stage II. Importantly, Study 2 showed that the effect
of Stage II seemed to result from heightened attributed emotional
capacities to animals. We thereby offer a template outlining how moral
disengagement might be addressed to reduce meat consumption.
</p>
<br>
<h5>
Presentation 2: Extending Perspective Taking to Non-Human Groups
</h5>

<p>
Authors: Ali Ladak, Jacy Reese Anthis &amp; Matti Wilks <br>
Speaker: Ali Ladak (Sentience Institute)
</p>

<h5>Abstract
</h5>

<p>
In two experiments we tested whether perspective taking, the active
consideration of the mental states of another individual, such as their
thoughts and feelings, has positive effects on attitudes towards non-human
groups. In Study 1, we found that taking the perspective of a farmed pig
(compared to staying objective and a neutral control condition) positively
affected moral attitudes towards animals via empathic concern and self-
other overlap. In Study 2, we found that taking the perspective of an
intelligent artificial entity positively affected moral attitudes towards artificial
entities as a group via the same mediators, though only when comparing
perspective taking to the objective condition. We did not find total effects of
perspective taking in either study. This was partly explained by competitive
mediation: in both studies, after controlling for the significant mediation
paths, we found evidence of positive effects of staying objective on moral
attitudes.
</p>
<br>

<h5>Presentation 3: Harnessing Moral Psychology to Reduce Meat
Consumption
</h5>
<p>
Authors:
Joshua May &amp; Victor Kumar <br>
Speaker: Joshua May (University of Alabama at Birmingham)</p>
<h5>Abstract</h5>
<p>
Why does meat consumption remain high, despite increased awareness of
its negative impact on animal welfare? Weakness of will surely explains the
behavior of some consumers: acceptance of the ethical arguments doesn’t
motivate changes in behavior (the weakness model). However, we draw on
scientific evidence to argue that most consumers fail to be convinced in the
first place that they morally ought to reduce their meat consumption (the
belief model). We identify two key psychological mechanisms that lead
people to resist the ethical arguments. First, motivated reasoning allows
one to rationalize that animals don’t suffer or that their suffering matters
less. Second, social proof takes the behavior of others in one’s community
as evidence that meat consumption is normal, natural, and necessary. We
provide recommendations for how to harness these psychological
mechanisms to encourage reductions in meat consumption. Social change
on this issue thus requires socially-embedded reasoning.
</p>
<br>

<h5>
Presentation 4: Meating conflict: Toward a model of ambivalence-
motivated meat reduction
</h5>
<p>
Authors: Shiva Pauer, Matthew B. Ruby, Bastiaan T. Rutjens, Grischa
Perino, &amp; Frenk van Harreveld <br>
Speaker: Shiva Pauer (University of Amsterdam)</p>

<h5>Abstract</h5>
<p>
An increasing number of people is concerned about the ethics of meat
consumption despite cherishing meat products. We examined whether the
desire to resolve such ambivalence about eating meat can motivate meat
reduction. A 6-day food diary with 7,485 observations in the German
general public showed a positive association of ambivalence with meat
reduction and identified sociodemographic predictors of meat ambivalence.
Study 2 showed that feelings of conflict, but not the ambivalent attitude
itself, motivated participants to eat less meat when participants
introspected on their ambivalence. Study 3 (preregistered) replicated this
experimental effect and demonstrated a serial mediation through
anticipated ambivalence resolution and information seeking. These findings
in diverse samples from the EU and US (total N=1,192) highlight that meat
reduction can result from the motivation to reduce pervasive feelings of
conflict. Our model of ambivalence-motivated meat reduction has important
implications for understanding how people progress towards animal-free
food choices.
</p>
<br>
<h5>
Presentation 5: Mothers and daughters&#39; perceptions of climate
change issues, their reciprocal learning and parental resistance to
plant-based food
</h5>
<p>
Authors: Lorna Lamont &amp; Leyla De Amicis <br>
Speaker: Lorna Lamont (University of Glasgow)</p>
<h5>Abstract</h5>
<p>
Recently, many young people have organised pacific protests and strikes,
asking for radical political action to reduce the negative human impact on
the acceleration of climate change, all around the world. This research
aimed at exploring adolescent activists’ and their families’ perceptions of
climate change issues and reciprocal learning on this topic. Eight dyadic
semi-structured interviews involving female adolescent activists and their
mothers (six in the UK) were conducted. A thematic analysis extracted
three master themes (sense of responsibility, youth participation and
parental influence). Parental influence included two subthemes: support
and concern. Children’s adherence to a vegan diet was one main parental
concern. This study shows that these adolescents and their families
collaborated in climate change action, although some resistance emerged
regarding plant-based diets. Young people influenced their families with
their perseverance and provision of information, and this might lead to less
resistance towards plant-based food choices, in the future.
</p>

<div class=sess_btn>
<a href="https://zoom.us/j/92770921395" target="_blank" class="btn btn-primary">Join Session</a>
</div>