<div class=sess_btn>
<a href="https://zoom.us/j/95897129679" target="_blank" class="btn btn-primary">Join Session</a>
</div>
<br>
<h1>
 The psychology of vegans and vegetarians
</h1>
<h3> Thursday, July 1, 18:30-20:00 </h3>
<br>
<h4>
Chair: Alina Salmen (University of Kent)
</h4>


<h5>
Presentation 1: Strategies and Motivations in New Vegans and
Vegetarians: Findings from a Longitudinal Study
</h5>

<p>
Authors:
Jo Anderson &amp; Marina Milyavskaya
Speaker: Jo Anderson (Faunalytics, Carleton University)
</p>
<h5>Abstract
</h5>
<p>
Many campaigns encourage people to adopt and maintain vegan or
vegetarian (veg*n) diets, but long-term success seems rare, especially
among people with health goals (Faunalytics, 2014). Advocates need more
data about how to support long-term diet maintenance. Should we avoid
campaigning to the health-motivated, or just support them differently? To
answer these and other questions, we surveyed new veg*ns at seven time
points over the first 6 to 8 months of their diets. In this talk, we present
preliminary data about supports, strategies, and changes in motivation over
time. How often do initial motivations that are poor determinants of success
(including extrinsic health goals, per Self-Determination Theory; Ryan et
al., 2008) shift over time into intrinsic (self-driven) or moral goals?
Understanding how successful strategies and motivations operate without
intervention will provide crucial information about how to support new
veg*ns in a long-term change with intervention.
</p>
<br>

<h5>
Presentation 2: An investigation of moral emotion and moral belief in
dietary choice: Exploring the attitudes of different dietary groups and
genders and their experience of guilt and disgust.
</h5>

<p>
Authors: Maria Ioannidou, Kathryn Francis, Valerie Lesk, &amp; Barbara
Stewart-Knox<br>
Speaker: Maria Ioannidou (University of Bradford)
</p>

<h5>Abstract
</h5>

<p>
Previous studies have focused on disgust and meat consumption in
vegans, vegetarians and omnivores with the finding that vegans and
vegetarians experience more disgust than omnivores. The present study
extended this and investigated how dietary groups experience the moral
emotions of disgust and guilt as well as looking at their attitudes towards
animals. Gender differences were also investigated. Participants (N =
554) were omnivores, vegetarians, pescatarians and vegans and were
recruited online. They were randomly presented with measures of disgust,
guilt, attitudes towards animals and carnistic beliefs. Measures were
adapted to include items for dairy, eggs and fish products. The results
indicated that the dietary groups differed significantly in all measures.
These differences were also found between genders, replicating previous
findings in the field. This study provides a broader understanding into how
guilt and disgust are experienced in terms of dairy, eggs and fish in these
four dietary groups.
</p>
<br>

<h5>Presentation 3: A social identity model of vegan advocacy
</h5>
<p>
Authors: 
Madeline Judge, Julian Fernando, &amp; Christopher Begeny <br>
Speaker: Madeline Judge (University of Groningen)</p>
<h5>Abstract</h5>
<p>
In most previous research, veganism has been conceptualized as an
individual dietary behaviour. However, vegans may also consider
themselves members of a social movement acting on behalf on non-human
animals, and may consequently be motivated to engage in everyday
advocacy with the goal of encouraging social change. We develop and test
a social identity model of vegan advocacy, drawing on existing literature on
the role of social identities, emotions and efficacy in collective action. In a
sample of self-identified vegans from Australia and the UK (N = 351), moral
convictions predicted higher willingness to engage in vegan advocacy, both
directly and indirectly via the more proximal predictors of vegan
identification, group efficacy and anger. In a subset of this study, we
explored the correlations between different construals of the human-animal
relationship, emotions, and solidarity with non-human animals. Implications
for understanding processes of social change in this context will be
discussed.
</p>
<br>

<h5>
Presentation 4: Motives to be vegetarian
</h5>
<p>
Authors: Christopher Hopwood &amp; Wiebke Bleidorn<br>
Speaker: Christopher Hopwood (University of California, Davis)</p>
<h5>Abstract</h5>
<p>
In this paper we will present work we have recently published in a series of
papers on the measurement of veg*n dietary motives. We will review the
development of the Vegetarian Eating Motives Inventory (VEMI), which
measures health, environmental, and animal rights motives for veg*n diet.
We will present evidence that the measurement model is invariant across
English and Dutch respondents and across vegetarian and non-vegetarian
respondents, review major correlates of each motive, and discuss the
importance of distinguishing among individual differences in motivation for
future work in animal rights advocacy.
</p>
<br>
<h5>
Presentation 5: ‘I Follow a Vegan Diet’ – How Communication Shapes
Perceptions of Meat-Refusers
</h5>
<p>
Author: Maike Weiper &amp; Roos Vonk <br>
Speaker: Maike Weiper (Radboud University)</p>
<h5>Abstract</h5>
<p>
Meat-refusers (vegetarians and vegans) are typically derogated by meat
eaters because they threaten meat eaters’ moral self-image. In two
experiments, we tested whether the style of communication can influence
these interpersonal evaluations. Participants were presented with an essay
written by a meat-refuser who communicated in either a static, confident
and result-oriented way, or in a dynamic, uncertain and process-oriented
manner. We found that vegetarians and vegans pose a greater moral
threat to meat eaters and, thus, are perceived significantly more negatively
than flexitarians (study 1) or meat-refusers with non-moral motives (study
2). Furthermore, as hypothesized, dynamically communicating targets elicit
less moral threat and are subsequently rated more favorably than meat-
refusers communicating in a static way (studies 1 and 2). We propose that
dynamic communication can improve relations between meat eaters and
meat-refusers and, thereby, may eventually inspire meat eaters and induce
behavior change.
</p>

<div class=sess_btn>
<a href="https://zoom.us/j/95897129679" target="_blank" class="btn btn-primary">Join Session</a>
</div>