<% if user_signed_in? %>
<div class=sess_btn>
<a href="https://kent.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=df862600-ca97-49b6-95b6-ad5d016bbc62 " target="_blank" class="btn btn-primary">Watch Session</a>
</div>
<br>
<h1>
Intersectional Perspectives
</h1>
<h3> Wednesday, June 30, 20:15–21:30 </h3>

<h4>
Chair: Alina Salmen (University of Kent)
</h4>

<br>
<h5>
Presentation 1: Animal Advocacy or Ethnocentrism: The
Interventionist’s Dilemma
</h5>

<p>
Author: Jodey Castricano<br>
Speaker: Jodey Castricano (University of British Columbia)
</p>

<h5>Abstract
</h5>
<p>
A recent posting on social media from a group called No Kill New York in
regards to animal slaughter states unequivocally, &quot;There is no right way to
kill someone who does not want to die.&quot; Indeed, in recent years the issue of
killing animals in agribusiness or for research has been filtering not only
into public consciousness but also into legislation and law. While the
“ethical turn” in Critical Animal Studies has arguably increased awareness
of the plight of animals in research, factory farming and entertainment it has
also encountered a fork in the road where tensions and alliances emerge
between animal and decolonial activisms. Bringing together the work of
Margaret Robinson on Mi’maq food practices and Magfirah Dahlan-Taylor
animals and food practices in Islam this paper takes a postcolonial, feminist
approach to navigating the dilemma facing CAS wherein Eurocentric
animal advocacy often demonizes non-Western human-animal relations as
uncivilized and barbaric.
</p>
<br>
<h5>
Presentation 2: On the terms of the animal liberation: Beyond analogies
</h5>

<p>
Author: Zeynep Gizem Haspolat<br>

Speaker: Zeynep Gizem Haspolat (Rice University)
</p>
<h5>Abstract
</h5>
<p>
In animal rights discourse, human slavery is often evoked as an analogy to
the conditions nonhuman animals are experiencing today. This analogy
emphasizes the arbitrary exclusion of certain beings from mattering and
their absolute inclusion into the productivity regimes as objects. Recent
social scientific analyses on race and animality, however, criticize this
analogy for its temporal and ethical assumptions. The analogy, it is argued,
perpetuates the subordinate existence of certain human groups and
nonhuman animals rather than turning the connections between these
systems of oppression into points of departure for defiance. This paper
dwells on the concept of the “unthinkable” developed by Bourdieu (1971;

1980; 1982) in order to question the limits of this analogy today. The paper
uses the unthinkable as a concept to speculate on the possibility of
enactments of the unthinkable, not necessarily only in a future to come, but
today, within the universe of the thinkables.
</p>
<br>

<h5>Presentation 3: Does Valuing Animals Detract from Valuing Humans?
</h5>

<p>
Authors: Joshua Rottman, Charlie Crimston, &amp; Stylianos Syropoulos<br>
Speaker: Joshua Rottman (Franklin &amp; Marshall College) </p>
<h5>Abstract</h5>
<p>
Valuing animals and ecosystems is typically portrayed as an expansion of
moral concern. However, trade-offs exist in valuing different kinds of
entities, and moral valuation is often treated as zero-sum. Thus, valuing
animals and ecosystems may diminish value for humans. Across three
studies (N = 985), we found that a substantial number of people value
animals (e.g., dolphins) and habitats (e.g., rainforests) more than they
value humans from marginalized/stigmatized groups (e.g., Arabs,
Scientologists). This tendency was predicted by having relatively amplified
tendencies to attribute mental capacities to animals and relatively reduced
tendencies to attribute mental capacities to outgroup members. Our data
additionally demonstrated that morally prioritizing animals and nature was
not indicative of more expansive moral concern overall. Thus, animal
advocates should be mindful that morally valuing non-humans may detract
from morally valuing humanity. Future research should determine how to
encourage people to attribute moral worth in a non-zero-sum manner.
</p>
<br>
<h5>
Presentation 4: Celebrity ‘Hegans’: A Critical Feminist Analysis of
YouTube Animal Advocates
</h5>
<p>
Author: Cressida Wilson<br>
Speaker: Cressida Wilson (University of Canterbury)</p>
<h5>Abstract</h5>
<p>
The broad focus of my research is how gender and animal advocacy
intersect. One aspect of the gendered nature of animal activism is that the
most celebrated activists in animal advocacy tend to be white men; this is
not representative of the diversity found in grassroots activist networks. In
order to better understand how and why gendered forms of animal
advocacy are celebrated within activist networks, I thematically analyse the
most popular YouTube animal advocates. Understanding the forms of
animal advocacy which are most legitimised will give insight into the
context within which grassroots activists are engaging in activism. Utilising
an intersectional feminist perspective I uncover some of the marginalisation
that occurs within animal advocacy networks. I conclude by discussing how
my research has implications not only for activists who are marginalized by
gender, but also by race, disability, class, and sexuality.
</p>

<div class=sess_btn>
<a href="https://kent.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=df862600-ca97-49b6-95b6-ad5d016bbc62 " target="_blank" class="btn btn-primary">Watch Session</a>
</div>

<%else %>
  <p>Please sign in to view the content.</p>
<%end%>