session 9

<a href="#" class="btn btn-primary">Join Session</a
<h1>
<h1>
Wild Animals
</h1>

<h2>
Chair: Maria Ioannidou (University of Bradford)
</h2>


<h3>
Presentation 1: Public Perceptions of Legal Personhood for
Nonhuman Animals: A Mixed-Methods Approach
</h3>

<h3>
Authors
</h3>
<p>
Garrett M. Broad &amp; Ezgi Aytürk
</p>

<h4>Speaker: Garrett Broad (Fordham University)
</h4>
<h5>Abstract
</h5>
<p>
Recent advocacy efforts have aimed to attain legal personhood rights for
select nonhuman animals, generally focusing on those with high levels of
scientifically demonstrated cognitive and emotional capacity, including
elephants and chimpanzees. A limited body of research, however, has
investigated what members of the general public actually think about such
initiatives. This presentation explores this topic through the use of surveys
and focus groups with sample populations in the United States. Survey
results show near-majority support for laws that grant legal rights to select
nonhuman animals, with under a quarter of respondents opposed. Follow-
up focus groups demonstrate that the appeal of such initiatives is tempered
by respondents’ confusion and uncertainty about the pragmatic dynamics
and long-term implications of these legal approaches. The work
demonstrates the need for mixed-method research in the investigation of
public perceptions of human-animal relations, and offers practical insights
for the strategic communication of animal legal advocacy.
</p>

<h3>
Presentation 2: Helping wild animals as individuals as a cause area
and a new research field: attitudes among natural scientists and
students
</h3>

<h3>
Authors
</h3>
<p>Oscar Horta &amp; Victor Crespo</p>

<h4>Speaker: Oscar Horta (Animal Ethics, University of Santiago de
Compostela)
</h4>

<h5>Abstract
</h5>

<p>
In addition to the harms that animals suffer in the wild due to human action,
animals are often harmed by other causes such as natural disasters,
disease, famine and harmful weather conditions. These causes often
overlap, and sometimes intertwine with anthropogenic ones. Animal
advocates are sometimes skeptical about the feasibility of aiding animals in
these cases. To examine this question, Animal Ethics carried out two
studies about the attitudes scientists and students in natural sciences have
towards this issue, using qualitative interviews in one of them and a survey
in the other. Most respondents (among both scholars and students) found
helping wild animals living in urban environments, aiding animals who are
victims of harmful weather events, and wild animal vaccination programs
feasible, promising and valuable lines of study. This indicates that wild
animal suffering is indeed tractable, although more knowledge is needed to
know how to best do it.
</p>
<br>

<h3>Presentation 3: The images in your head of wolves and brown bears
</h3>
<h3>
Authors
</h3>
<p>
Verónica Sevillano, Fernando Talayero, José Vicente López-Bao,
&amp; Sara Estrella Aguirre
</p>
<h4>Speaker: Verónica Sevillano (Universidad Autonóma de Madrid)</h4>
<h5>Abstract</h5>
<p>
One of the reasons why large carnivores are particularly challenging to conserve
may be because people perceive them ambivalently. This research analyzes the
social perception of wolves and brown bears from a novel psychological approach
rarely used within conservation: animal species stereotypes (category-based
generalizations). College Spanish students consistently ascribed seventeen
characteristics to wolves (Study 1, N = 144 participants) and eighteen characteristics
to brown bears (Study 2, N = 199). Four domains—Physical (e.g., beautiful),
Species-related (carnivorous), Cognitive (cunning), and Social
(dangerous)—captured the stereotype content of both species, with the Social
domain being more relevant for wolves, and the Physical domain more relevant for
brown bears. Notably, these studies confirmed that people a) identify stereotypes for
large carnivores, as they do for people; and b) hold mixed stereotypes (including
positive and negative characteristics). Findings extend the stereotype content model
and can inform the conservation of large carnivores in the 21st century.</p>

<h3>
Presentation 4: Understanding the beliefs and motivations of wild-animal
welfare advocates: a qualitative study
</h3>
<h3>
Author
</h3>
<p>Daniela R. Waldhorn</p>

<h4>Speaker: Shiva Pauer (University of Amsterdam)</h4>
<h5>Abstract</h5>
<p>
There is a growing number of advocates raising awareness about the likely
prevalence of suffering in wild animals’ lives and promoting interventions to reduce it.
Still, exploratory interviews suggest there is much disagreement among animal rights
activists about this issue. A majority still believes that protecting nonhumans requires
us to preserve natural processes and that animals live relatively happy lives in the
wild, except when humans interfere. It is worth determining the causes of this
disagreement. This presentation explores the preliminary results of an ongoing
qualitative study about animal advocates’ motivations to care about wild animal
welfare and other associated beliefs. Wild animal welfare advocates were
interviewed, and their answers were analyzed following an inductive thematic
approach. As an expression of human-nonhuman animal relations, addressing our
beliefs about wild animal welfare may contribute to illuminate human intergroup
relations. Additionally, this work may promote further discussions within the animal
rights movement.
</p>

<a href="#" class="btn btn-primary">Join Session</a