session 3

<a href="#" class="btn btn-primary">Join Session</a
<h1>
<h1>
Human-animal contact and
relationships
</h1>

<h2>
Chair: Victoria Krings (University of Kent)
</h2>

<h3>
Presentation 1: Expanding Sentience: Ethics of Care and Animal
Individuality
</h3>

<h3>
Author
</h3>
<p>
Nia Baker
</p>

<h4>Nia Baker (Swansea University)
</h4>
<h5>Abstract
</h5>
<p>Human-animal relations have evolved exponentially over time and shape
how we think about animals today. This has centred largely on the divide
between utilitarian grounds for animal welfare (Singer, 1975) and the rights-
based approach of animal rights (Regan, 1983). However, there is much
room to consider our emotional obligations to animals including the
contributions of care ethics, empathy and sensitive philosophy (Donovan,
1996; Midgley; 1983). This literature review incorporates ecofeminist
arguments with green critiques of sentience to highlight the role of
emotions and connectivity in recognising the ‘animal individual’. The study
evaluates how a caring ethical framework can challenge speciesism and
the anthropocentric roots underpinning the ‘property’ status of animals in
legislation. This is also linked to the dismissal of ‘the animal self’ within
institutionalised harms and abuse. Doing so holds important implications for
a green criminology that promotes species justice and calls for ecocentric
discussion in mainstream criminological agendas.
</p>

<h3>
Presentation 2: EnCall Me Sheep: How looking at the social interactions
of sheep can change human perceptions
</h3>

<h3>
Author
</h3>
<p>Marika S. Bell</p>

<h4>Speaker: Marika S. Bell (Homeward Pet Adoption Centre)
</h4>
<h5>Abstract
</h5>
<p>Research into animal relationships can be used for interacting and
understanding other animals; how perceptions can be altered by research,
presented in a way that allows animal relationships to be recognized by
humans in terms of ‘friendship’, i.e., choosing to spend time with specified
others, (Seyfarth &amp; Cheney 2012; Christakis &amp; Fowler 2014). This
recognition of choice regarding friendships with other beings, demonstrate
their potential as ‘persons’ (Latour 2005; Bekoff 2001). It follows that they
can form friendships similar to human friendships and are demonstrated in
ways recognizable to human-people due to ‘embodied knowledge’
(Hamington 2008) of the feelings and actions associated with friendship.

This recognition can be held as evidence that other animals, in this case
sheep, have an innate right to personhood and moral consideration. Lastly,
this methodology can be utilized for those who work with other-than-human
animals to better know other animals as persons.
</p>
<br>

<h3>Presentation 3: „One of them came to us”: how sanctuaries as spaces
of care enable human and nonhuman animals to advocate together
</h3>
<h3>
Author
</h3>
<p>
Maria Martelli
</p>
<h4>Speaker: Maria Martelli (Institute for Social Solidarity) </h4>
<h5>Abstract</h5>
<p>Farmed animal sanctuaries (FAS) are places of refuge, care and advocacy
for nonhuman animals (Donaldson &amp; Kymlicka, 2015). Moreover, they are
spaces that make possible the rescue of nonhuman animals (NAs). This
research looks at how, often, rescue operations are conducted based on
interactions between NAs and humans. It has been said that “animals are
their best advocates” (Villanueva, 2019), and that listening to their voices
(Meijer, 2019) is best practice. In this vain, this research explores how NAs
advocate for themselves, expressing their wishes to live and be cared for.
Using qualitative methods - interviews with human guardians/workers of
two FAS in Romania - this research explores the interactions that led to the
relocation of particular NAs to sanctuary space. These relationships are
often based on physical proximity, and their success depends both on the
humans’ ability to listen, as well as on the NAs’ ability to communicate their
needs.
</p>

<h3>
Presentation 4: The cognitive assessment model: A framework for
how humans judge animals
</h3>
<h3>
Authors
</h3>
<p>Wen Zhou, Anne Littlewood, &amp; Brian Hare</p>

<h4>Speaker: Wen Zhou (Duke University)</h4>
<h5>Abstract</h5>
<p>
Animals play important roles in human society ranging from food sources to
human companions. How do humans evaluate animals and assign them
different roles? Here we propose the cognitive assessment model that
people’s endorsement of the group-based hierarchy biases the perception
of animals’ mental life. These biased perceptions further shape beliefs
about animals’ roles. We examined 1487 participants from an online course
on co-evolution between dogs and humans. For each participant, we tested
their preference for the hierarchy of different dog breeds and presented six
pictures randomly selected from portraits of 45 dogs. Participants rated
each dogs’ cognitive capacities, pain sensitivity, social characters,
trustworthiness in different situations (e.g., with kids), and suitability for
different jobs (e.g., therapy). Results demonstrated correlations between
these variables and provided supporting evidence for the cognitive
assessment model. These findings will provide insight into the psychology
of human-animal relations and have implications for promoting animal
welfare.
</p>

<a href="#" class="btn btn-primary">Join Session</a