<div class=sess_btn>
<a href="https://zoom.us/j/93856863427" target="_blank" class="btn btn-primary">Join Session</a>
</div>
<br>
<h1>
 Messaging &amp; Interventions
</h1>
<h3>Friday, July 2, 11:15-12:45 </h3>
<h4>
Chair: Rebecca Gregson (Lancaster University)
</h4>


<h5>
Presentation 1: The identifiable victim effect: engaging non-vegans in
pro-vegan activism
</h5>

<p>
Authors: Rakefet Cohen &amp; Eliran Halali <br>
Speaker: Rakefet Cohen (Bar Ilan University)
</p>

<h5>
Abstract
</h5>
<p>
While our ancestors had to hunt mammoths, in the age of abundance, we
no longer depend on animal protein. American Dietetic Association found
that veganism may promote health. Animal products take toll on climate
too. Additionally, 99% of US farm animals are confined in factory farms.
How can we engage non-vegetarians in animal rights then? Studies found
that helping rises when recipients are identified. We studied whether the
identifiable victim effect could help. 181 non-vegans were randomly
assigned into an identifiable (a calf named Lucky + picture) or unidentifiable
(several calves) condition and asked to rate their willingness to sign and
share a petition, as well as their distress and sympathy towards the
animal(s). An identified animal victim elicited higher activism intentions than
unidentified. Sympathy (not distress) was affected by identifiability. This is
the first study to test the identifiable victim effect&#39;s benefits to pro-vegan
activism in a controlled environment.</p>

<br>
<h5>
Presentation 2: Inspiring action for farmed fishes: finding messaging
that motivates
</h5>

<p>
Authors: 
Maddy Dawe &amp; The Humane League UK <br>

Speaker: Maddy Dawe (The Humane League UK)
</p>

<h5>Abstract
</h5>

<p>
In autumn/winter 2020-21, The Humane League UK embarked upon a
research project to find out what kind of messaging would motivate the
public to take action to improve welfare for farmed fishes. Working with the
research agency KSBR Brand Futures and the think tank Rethink Priorities,
we have produced messaging guidelines that will inform the animal
advocacy movement’s communications strategy for fish welfare campaigns.
The first phase of research with KSBR involved analysing the responses of
several focus groups to various fish welfare messages. The second phase,
conducted by Rethink Priorities, saw 8000 UK participants recruited to
participate in a fish messaging survey. Using the findings from these two
pieces of research, we have extracted key audience-specific
recommendations that will guide animal NGOs in successfully motivating
the public to take campaign actions to improve farmed fish welfare. This will
enable the movement to be more effective in targeting their
communications and adding more power to their campaigns, thus
improving the lives of fishes in intensive aquaculture systems.
</p>

<br>

<h5>Presentation 3: The importance of consistency of messaging by
animal welfare organisations in influencing owner behaviour
</h5>
<p>
Authors: 
Jenna Kiddie, Tamzin Furtado, &amp; Huw Nolan <br>
Speaker: Jenna Kiddie (Dogs Trust)</h4>
<h5>Abstract</h5>
<p>
The primary activities of companion animal rehoming organisations
(CAROs) are to care for the animals they house and to promote for
adoption those that are rehomeable. As these activities require financial
resources, fundraising and brand-awareness activities must also be carried
out. Additionally, CAROs are perfectly placed to provide appropriate care
advice and to promote responsible pet ownership through educational
activities. How these activities are designed and delivered should align with
the organisation’s mission statement and strategic policies; any mismatch
of messages may negatively influence owner behaviour with unintended
repercussions for animal welfare. CAROs should therefore be considerate
of the immediate and future implications for human attitude and behaviour
towards individual animals or the species in general that may result from
any intended and inadvertent messaging. Two approaches to considering
the messaging of CAROs will be discussed in this paper: ethical
frameworks and human behaviour change theory.
</p>
<br>
<h5>
Presentation 4: How can we best reduce speciesism? – A case study
</h5>
<p>
Author: Doris Schneeberger<br>
Speaker: Doris Schneeberger (Vienna University of Economics and
Business)</p>
<h5>Abstract</h5>
<p>
Understanding how we can reduce humanity’s speciesism could help us to
reduce NHA (=nonhuman animal) suffering. In this project, I used a
qualitative interventionist design in order to examine whether certain
interventions reduce individual speciesism levels. Seven epistemic partners
underwent a series of interventions. The first intervention was a semi-
structured interview in which they reflected on philosophical thought
experiments. Second, they participated in a workshop which included
watching a video on NHA ethics, and footage from factory farms and
slaughterhouses. Finally, they participated in another semi-structured
individual interview. Measurements of the individual speciesism levels
show that the interventions reduced the speciesism of all epistemic
partners. However, the size of this effect varies across the sample. I
propose several hypotheses to explain these results. This research could
inform both theory and practice in terms of how to best reduce speciesism
and could inspire further research on the topic.
</p>
<br>
<h5>
Presentation 5: Resistance to vegetarians: Do motives matter?
</h5>
<p>
Authors: Roos Vonk, Wieke Geels, Maike Weiper, &amp; Thijs Verwijmeren <br>
Speaker: Roos Vonk (Radboud University)</p>
<h5>Abstract</h5>
<p>
Meat-refusers (vegetarians and vegans) are typically derogated by meat
eaters because they threaten meat eaters’ moral self-image. In two
experiments, we tested whether the style of communication can influence
these interpersonal evaluations. Participants were presented with an essay
written by a meat-refuser who communicated in either a static, confident
and result-oriented way, or in a dynamic, uncertain and process-oriented
manner. We found that vegetarians and vegans pose a greater moral
threat to meat eaters and, thus, are perceived significantly more negatively
than flexitarians (study 1) or meat-refusers with non-moral motives (study
2). Furthermore, as hypothesized, dynamically communicating targets elicit
less moral threat and are subsequently rated more favorably than meat-
refusers communicating in a static way (studies 1 and 2). We propose that
dynamic communication can improve relations between meat eaters and
meat-refusers and, thereby, may eventually inspire meat eaters and induce
behavior change.
</p>

<div class=sess_btn>
<a href="https://zoom.us/j/93856863427" target="_blank" class="btn btn-primary">Join Session</a>
</div>