<div class=sess_btn>
<a href="https://zoom.us/j/93657986438" target="_blank" class="btn btn-primary">Join Session</a>
</div>
<h1>
Meat consumption and meat
reduction
</h1>
<h3> 18:30–20:00 </h3>
<br>
<h3>
Chair: Jared Piazza (Lancaster University)
</h3>


<h5>
Presentation 1: Consumer perceptions of alternative proteins
</h5>

<p>
Author:
Christopher Bryant <br>
Speaker: Christopher Bryant (University of Bath)
</p>
<h5>Abstract
</h5>
<p>
Alternative proteins including plant-based and cultured meat represent a
promising way to replace consumption of animal products on a large scale.
I review key data on consumer trends around meat consumption and
alternative proteins, highlighting particularly promising consumer groups
and communication strategies. Data suggests that meat-eaters are largely
aware of the ethical and environmental problems with meat consumption
but find barriers to plant-based diets in terms of price, taste, and
convenience. Alternative proteins provide ways to overcome these barriers,
and data suggests that a range of alternative proteins including plant-based
and cultured meat will be optimally appealing to different market segments.
The best opportunities exist for younger, well-educated, left-leaning and
urban consumer groups, though interest is rising more broadly. Marketers
have used a range of messages relating to health, the environment, and
animals, though products being tasty, convenient, and affordable is
paramount to replacing animal products at scale.
</p>
<br>
<h5>
Presentation 2: Entering a highly contested field: education on animal
factories in German schools
</h5>

<p>
Author:Carolin Eirich & Maike Riedinger<br>
Speakers: Carolin Eirich (Mensch Tier Bildung e.V.) & Maike Riedinger (Mensch Tier Bildung e.V.)
</p>
<h5>Abstract
</h5>
<p>The manufacturing of animal products has an impact on everyone´s life.
Despite the relevance of this topic, it is hardly discussed in German
schools. Mensch Tier Bildung e. V. (Human Animal Education) is a
registered association which intends to close this gap. It aims at changing

this situation by offering workshops and project days in schools throughout
Germany. A realistic insight into factory farming is offered using
meticulously researched information. By means of participatory and
emancipatory methods, we encourage children to think critically and open
up a room for discussion on animal factories from different angles. Our
work distinguishes itself from “typical” activism as we carry out educational
work. The paper gives an insight into our organisation, our experience from
the past six years and therefore into the political dimension of educational
work on animal factories as a highly contested field.
</p>
<br>

<h5>Presentation 3: Interventions to Reduce Meat Consumption by
Appealing to Animal Welfare: Meta-Analysis and Evidence-Based
Recommendations
</h5>
<p>
Authors:
Maya B. Mathur, Jacob Peacock, David B. Reichling, Janice
Nadler, Paul A. Bain, Christopher D. Gardner, &amp; Thomas N. Robinson <br>
Speaker: Maya B. Mathur (Stanford University) </p>
<h5>Abstract</h5>
<p>Reducing meat consumption may improve human health, curb
environmental damage, and limit the large-scale suffering of animals reared
in factory farms. Most attention to reducing consumption has focused on
restructuring environments where foods are chosen or making health or
environmental appeals. However, psychological theory suggests that
interventions appealing to animal welfare might operate on distinct, potent
pathways. We conducted a systematic review and meta-analysis evaluating
the effectiveness of these interventions. We searched eight academic
databases and extensively searched grey literature. We meta-analyzed
100 studies assessing interventions designed to reduce meat consumption
or purchase by mentioning or portraying farm animals, that measured
behavioral or self-reported outcomes related to meat consumption,
purchase, or related intentions, and that had a control condition. The
interventions consistently reduced meat consumption, purchase, or related
intentions at least in the short term with meaningfully large effects (meta-
analytic average risk ratio [RR] = 1.22; 95% CI: [1.13, 1.33]). We estimated
that a large majority of true population effects (71%; [95% CI: 58%, 79%])
were stronger than RR=1.1 and that few were in the unintended direction.
Via meta-regression, we identified some study and intervention
characteristics that were associated with effect size. Risk-of-bias
assessments identified both methodological strengths and limitations of this
literature; however, results did not differ meaningfully in sensitivity analyses
retaining only studies at the lowest risk of bias. Evidence of publication bias
was not apparent. In conclusion, animal welfare interventions preliminarily
appear effective in these typically short-term studies of primarily self-
reported outcomes. Future research should use direct behavioral outcomes
that minimize the potential for social desirability bias and are measured
over long-term follow-up.
</p>
<br>
<h5>
Presentation 4: Reducing Meat Consumption by Appealing to Animal
Welfare: A Meta-Analysis and Theoretical Review
</h5>
<p>
Authors:
Jacob Peacock, David B. Reichling, Janice Nadler, Paul A. Bain,
Christopher D. Gardner, Thomas N. Robinson, &amp; Maya B. Mathur <br>

Speaker: Steve Loughnan (University of Edinburgh)</p>
<h5>Abstract</h5>
<p>
Reducing meat consumption may improve human health, curb
environmental damage and greenhouse gas emissions, and limit the large-
scale suffering of animals raised in factory farms. Previous work has begun
to develop interventions to reduce individual meat consumption, often by
appealing directly to individual health motivations. However, research on
nutritional behavior change suggests that interventions additionally linking
behavior to ethical values, identity formation, and existing social
movements may be particularly effective and longer-lasting. Thus we
conducted a systematic review and quantitative meta-analysis evaluating
the effectiveness of animal welfare-related interventions which explicitly or
implicitly portray farmed animals and their suffering or welfare. Studies in
any population, with a control condition and measuring actual or intended
meat consumption or purchasing were included, yielding ~40 eligible
studies. Our tentative results showed a positive pooled effect size,
suggesting the interventions were efficacious, and found little evidence of
publication bias.
</p>
<br>
<h5>
Presentation 5: Re-discovering animals, translating edibility: Modern
animal advocacy in the Sino-cultural sphere
</h5>
<p>
Author: Gina Song Lopez <br>

Speaker: Gina Song Lopez (Lund University)</p>
<h5>Abstract</h5>
<p>
The animal rights movement in East Asia is making important strides in
introducing and advancing the concept of the rights of animals in the
region. In the case of Taiwan, Hong Kong, and China, animal advocates
are also engaged in transforming prevalent understandings of compassion
and meatless food that is traditionally connected to religious practice. In
this study I examine activists’ ‘glocalized’ strategies to promote animal
rights through their promotion of everyday behavioral change in the form of
animal-friendly lifestyles. In particular, vegan fairs, social media channels,
and restaurants. This research draws from ongoing participatory-
observational data and hybrid ethnography conducted primarily in Taiwan
collected since 2016. This study will contribute to increasing knowledge
and understanding of animal advocacy movements in the East Asian and
Sino-cultural context.
</p>

<div class=sess_btn>
<a href="https://zoom.us/j/93657986438" target="_blank" class="btn btn-primary">Join Session</a>
</div>