<% if user_signed_in? %>
<div class=sess_btn>
<a href="https://zoom.us/j/95157437510" target="_blank" class="btn btn-primary">Join Session</a>
</div>
<h1>
Ideological roots of speciesism,
environmentalism, and meat consumption
</h1>
<h3> Wednesday, June 30, 16:45–18:00 </h3>
<br>
<h4>
Chairs: Kristof Dhont, PhD (University of Kent) and Rose Meleady,
PhD (University of East Anglia)
</h4>
<br>
<h5>Presentation 1: Loving and Exploiting Animals: The Ideological and
Cultural Roots Underpinning Expressions of Speciesism
</h5>

<p>Authors: Kristof Dhont, Ana Leite, Gordon Hodson, Taciano Milfont <br>
Speaker: Kristof Dhont (University of Kent)
</p>
<h5>Abstract
</h5>
<p>
In principle most people consider harming animals as morally troublesome,
yet paradoxically accept animal exploitation as part of their societal
practices and cultural traditions such as bullfights in Spain, whaling in
Norway, or kangaroo hunting in Australia. However, no research has
investigated the possible cultural differences in speciesist expressions and
the ideological predictors of moral acceptance of exploitative cultural
practices. Using representative samples from Norway, Spain, and Australia
(total N = 1076), we investigated the cross-cultural differences in attitudes
towards bullfighting, whaling, and kangaroo hunting, and tested
whether ideological preferences for group-based dominance (i.e. Social
Dominance Orientation, SDO) and preferences for social conformity and
traditions (Right-Wing-
authoritarianism, RWA) would be differentially associated with support for
own and foreign cultural practices. As expected, in all three countries,
people expressed stronger support for exploitative practices typical for their
own culture as compared to foreign practices. For instance, as compared
to Norwegians and  Australians, Spanish people showed more support
for bullfighting, but less support for whaling and kangaroo hunting,
respectively. Furthermore, whereas SDO, as a generalized tendency,
consistently predicted greater support for all three practices within and
across cultures, RWA had a pronounced effect on support
for bullfighting but only in the Spanish sample and on support for
Whaling but only in the Norwegian sample. These findings extend
the Social Dominance Human-Animal Relations Model and show that in
addition to group-dominance motives (SDO),   people’s desires to
preserve cultural traditions and social conformity (RWA) can be a powerful
ideological motive to defend their own cultural practices of animal
exploitation.
</p>
<br>
<h5>
Presentation 2: Intergroup contact, social dominance, and
environmental concern: A test of the cognitive-liberalization
hypothesis
</h5>

<p>
Authors:
Rose Meleady, Richard Crisp, Kristof Dhont, Tim Hopthrow, and
Rhiannon Turner<br>
Speaker: Rose Meleady (University of East Anglia)
</p>
<h5>Abstract
</h5>
<p>
Intergroup contact is among the most effective ways to improve intergroup
attitudes. Although it is now beyond any doubt that contact can reduce
prejudice, in this article we provide evidence that its benefits can extend
beyond intergroup relations—a process referred to as cognitive
liberalization (Hodson, Crisp, Meleady, &amp; Earle, 2018). We focus
specifically on the impact of intergroup contact on environmentally relevant
attitudes and behavior. Recent studies suggest that support for an
inequality-based ideology (social dominance orientation [SDO]) can predict
both intergroup attitudes and broader environmental conduct. Individuals
higher in SDO are more willing to exploit the environment in unsustainable
ways because doing so aids the production and maintenance of
hierarchical social structures. In 4 studies conducted with British adults, we
show that by promoting less hierarchical and more egalitarian viewpoints
(reduced SDO), intergroup contact encourages more environmentally
responsible attitudes and behavior. Both cross-sectional and longitudinal
data support this model. Effects are more strongly explained by reductions
in an antiegalitarian motive than a dominance motive. We discuss how
these findings help define an expanded vision for intergroup contact theory
that moves beyond traditional conflict-related outcomes.
</p>
<br>

<h5>Presentation 3: The impact of reading “Eating Animals” on dietary
habits: A large-scale intervention study
</h5>
<p>
Authors:
Alina Salmen, Kristof Dhont, Gordon Hodson, and Daniel Codd <br>
Speaker: Alina Salmen (University of Kent) </p>
<h5>Abstract</h5>
<p>
A primary aim of many animal advocacy groups is educating the public about the treatment of
 farm animals and the consequences of an omnivorous diet, assuming that exposing these facts
  will motivate people to reduce their meat consumption. With this aim in mind, a range of 
  non-fiction books have been published on this topic. Yet, evidence is currently lacking 
  for the effectiveness of raising awareness for the problems associated with animal
   agriculture through books, and for the impact on such interventions on actual
    consumption behaviour (rather than just intentions and attitudes). We conducted a
     randomised-controlled trial investigating change in attitudes towards animals, 
     meat, and veg*ans as well as meat consumption, measured with an experience 
     sampling smartphone application in a group of participants reading Jonathan Safran 
     Foer’s “Eating Animals” relative to a group reading a control book (N = 235 UK residents). 
     While the experimental and control group did not differ in their meat consumption after
      the intervention, we did find a significant reduction in meat commitment in the experimental, 
      but not the control group. There was also a significant increase in moral concern 
      for farm animals and in positive attitudes towards veg*ans in the experimental 
      but not the control group. These findings are equally strong or stronger for 
      participants high in Social Dominance Orientation. Implications for animal advocacy and future research are discussed.  
</p>

<br>

<h5>
Presentation 4: The psychological parallels between beliefs in the
group-based hierarchy in humans and the hierarchy of different dog
breeds
</h5>
<p>
Authors: Wen Zhou, Sarah Gaither, and Brian Hare <br>
Speaker: Wen Zhou (Duke University)</p>
<h5>Abstract</h5>
<p>Humans generally value certain beings more than others. The biased view
shapes the treatment of animals and raises ethical issues in animal
exploitation. However, the psychological mechanism underlying
discrimination of different animals remains unclear. Here we examine
discriminatory beliefs about different groups of a single species—dogs, to
rule out the considerations of ecological differences among species. In four
studies with a variety of participants (N = 1620), we find that discrimination
of dogs is associated with inequality-based socio-ideologies and less moral
concern for outgroup entities. Results also show a negative relationship
between contact with dogs and endorsement of the group-based hierarchy.
However, in a small-sample longitudinal study, we did not see a significant
effect of human-dog contact in attenuating discriminatory beliefs. Our
findings suggest that discrimination of dog breeds manifests the parochial
psychological process which directs moral regard toward socially close
targets and withdraws concern from socially distant targets.
</p
</p>

<div class=sess_btn>
<a href="https://zoom.us/j/95157437510" target="_blank" class="btn btn-primary">Join Session</a>
</div>

<%else %>
  <p>Please sign in to view the content.</p>
<%end%>