<% if user_signed_in? %>
<div class=sess_btn>
<a href="https://kent.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=8e272a64-2814-4d40-a8ee-ad5c0091ff19" target="_blank" class="btn btn-primary">Join Session</a>
</div>
<br>
<h1>
How to help people ditch meat:
What works?
</h1>
<h3>Wednesday, June 30, 10:30-12:00 </h3>
<br>
<h4> Chairs:  Jared Piazza, PhD (Lancaster University) and Steve
Loughnan, PhD (University of Edinburgh)
</h4>
<br>
<h5>
Symposium Abstract 
</h5>
<br>
<p>
In this symposium we will hear from five presenters regarding several
promising pathways for encouraging meat reduction and curtailment,
including meat-free pledges (Piazza, Gregson), multiple categorization and
identification with animals (Loughnan), laboratory-grown meat (Krings), and
multi-level strategies (Graça). Each talk grapples with the meta-meat
question of “What works?”
</p>
<br>
<h5>Presentation 1: Pathways for enabling plant-forward transitions in
collective meal contexts. 
</h5>
<br>
<p>
Authors: João Graça, Lúcia Campos, David Guedes, and Lisa Roque.<br>
Speaker: João Graça (University of Groningen)
</p>
<br>
<h5>Abstract
</h5>
<p>
Due to their scale, reach, and nature, collective meal contexts (e.g.,
restaurants; canteens; cafeterias) offer valuable opportunities to promote
plant-forward transitions. The present work aimed to map and classify
determinants of dietary change in collective meal contexts across multiple
settings, interventions, and focal topics (e.g., F&amp;V consumption; plant-
based eating; portion sizes). A systematic review using PRISMA guidelines
was conducted in a set of databases encompassing peer-reviewed
publications from multiple fields. Articles considered for inclusion were full-
text papers reporting empirical studies on food consumption and/or
provision in collective meal contexts. A total of 27458 records (title and
abstract) were screened, 573 articles were retained for full-text screening,
and 270 full texts were subjected to data extraction. The review identified
recent trends and developments to promote dietary change across multiple
settings, interventions, and focal topics. Based on these findings, we
propose and discuss pathways for promoting plant-forward transitions in
collective meal contexts.
</p>
<br>
<h5>
Presentation 2: Monitoring a meat-free pledge with smartphones: An
experimental study with samples from three countries.
</h5>

<p>
Authors: Jared Piazza, Rebecca Gregson, Anastasia Kordoni, Tamara Pfeiler, Matthew Ruby,David Ellis, Ensu Sahin and Maren Reith<br>
Speaker: Jared Piazza (Lancaster University)
</p>
<h5>Abstract
</h5>
<p>
Pledges are a popular strategy to encourage meat reduction, though
experimental studies of their efficacy are lacking. Three-hundred and
twenty-five participants from three different countries (UK, Germany,
Australia) were randomly assigned to pledge 28 days meat-free or not, and
their behavior was tracked via smartphones. Participants answered daily
surveys regarding their eating behavior, meat cravings, and shared photos
of their meals. Baseline data was collected prior to the pledge, after the 28
days, and one-month post-intervention. Participants assigned to the pledge
condition ate less meat across the 28 days, compared to control
participants. Meat reductions, observed at outtake, did not endure one-
month post-intervention. Overall, German participants ate the least amount
of meat, and showed the sharpest decrease in consumption when
pledging. Meat cravings tended to increase among pledgers, relative to
control participants. Pledgers who reported high starting intentions and
conflict about meat tended to eat less meat and reported fewer cravings. All
participants reported reduced meat-eating justifications one-month post-
intervention. These findings provide experimental evidence that pledges
can encourage meat consumers to reduce their intake, though additional
mechanisms are needed to sustain commitments.
</p>
<br>

<h5>Presentation 3: Investigating social support as a potential facilitator
of reduced-meat diets.
</h5>

<p>
Authors: Rebecca Gregson and Jared Piazza <br>
Speaker: Rebecca Gregson (Lancaster University) </p>
<h5>Abstract</h5>
<p>
This talk will present an experimental study currently being analysed that
tests social support as a facilitator of meat-reduction efforts. To date, over
260 participants have taken part in a two-week pledge to eat one
vegetarian meal a day – either alone, in small groups, or with their
household members. Those in the small group condition shared an MS
Teams space to facilitate social interaction. Intentions to pledge, daily food
consumption, and pledge completion rates were tracked using smartphone-
based experience-sampling. Participants also provided images of their
vegetarian meals as well as qualitative reflections on a series of motivation-
and capacity-based infographics and the barriers to pledging. Baseline,
post-intervention and two-week follow-up surveys were administered to
assess explicit and implicit attitudes towards meat. Preliminary analyses
suggest comparably high-levels of pledge adherence for our lone and
group participants, though households are still being analysed. Cost and
limited agency are highlighted as key barriers to pledging.
<br>
<h5>
Presentation 4: Two applications of intervention to meat-eating:
Categorization and identifiable victims.
</h5>
<p>
Author: Steve Loughnan <br>
Speaker: Steve Loughnan (University of Edinburgh)</p>
<h5>Abstract</h5>
<p>
In this presentation I present two new lines of research examining ways of
reducing people’s meat consumption: multiple categorization and the
identifiable victim effect. Multiple categorization has long been shown to be
an effective means of reducing prejudice and dehumanization towards
social outgroups. In the first study, my colleagues and I randomly assigned
participants to view a video which presented either a single or a multiple
categorization of pigs. We examined the impact on attitudes and beliefs
about pigs, and their subsequent pork consumption. We found effects on
beliefs about pigs but only small effects on actual consumption. In the
second study, we examined whether the identifiable victim effect – the
finding that people care more about single, identified victims than large
groups of victims – increased concerns for dairy cattle. Participants were
randomly assigned to either identifiable or statistical victims of the dairy
industry. We measured the impact on participants emotion and intention to
reduce dairy consumption. We found that although there was no direct
effect of condition on intention to consume, condition did predict
experienced distress, which in turn predicted intention. I present both
multiple categorization and the IVE as potential directions for intervention.
</p>

<br>
<h5>Presentation 5: Having a cow and eating it too: Psychological barriers to clean meat acceptance.</h5>

<p>
Authors: Victoria Krings, Kristof Dhont, and Gordon Hodson <br>
Speaker: Victoria Krings (University of Kent) </p>

<h5>Abstract</h5>
<p>
Global demands for meat are predicted to double by the year 2050.
However, industrial factory farming at the scale needed to meet such
demands does not consider animal welfare, contributes significantly to
climate change, and poses a serious zoonotic disease risk. Yet, people are
generally unwilling to change their dietary habits surrounding meat,
especially when the alternatives are perceived as unsafe or unnatural. One
promising alternative is laboratory-grown meat, also known as clean meat,
which is structurally identical to traditional meat. Across three studies we
examined people’s perceptions of clean meat compared to traditional meat
in order to gain a better understanding of the psychological barriers to
consuming meat substitutes and analogues. The findings indicate that fear
of novel technologies used in food production and perceived safety of clean
meat significantly and negatively affect its appeal.

</p>


<div class=sess_btn>
<a href="https://kent.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=8e272a64-2814-4d40-a8ee-ad5c0091ff19 " target="_blank" class="btn btn-primary">Join Session</a>
</div>

<%else %>
  <p>Please sign in to view the content.</p>
<%end%>