<div class=sess_btn>
<a href="https://zoom.us/j/91042630129" target="_blank" class="btn btn-primary">Join Session</a>
</div>
<h1>
Expanding the moral circle: New
directions in the moral psychology
of speciesism
</h1>
<br>
<h2>
Chair: Jim Everett, PhD (University of Kent)
</h2>
<br>
<h5>Presentation 1: The emergence of speciesism across development
</h5>

<p>
Authors: Matti Wilks, Lucius Caviola, Guy Kahane, and Paul Bloom <br>
Speaker: Matti Wilks (University of Yale)
</p>
<h5>Abstract
</h5>
<p>
Adults care more about other people than they do about nonhuman
animals. Many of us eat cows and pigs, while few would approve of raising
humans as food. But research is yet to explore the emergence of this bias
across development. We tested children aged 5-9 years (N = 240) and
adults (N = 220) using a forced choice rescue dilemma where subjects had
to choose between, for example, saving one person versus ten dogs or ten
pigs (among other combinations). Results suggest that adults are highly
speciesist, prioritizing humans over large numbers of animals. Children are
more egalitarian, often choosing to save animals. Data from control
conditions (e.g., choosing between saving one person versus ten plates)
suggest that children are understanding the task, and not merely choosing
the largest number. Our findings suggest that speciesism is not a natural
default, but rather emerges over the course of development.
</p>

<br>

<h5>
Presentation 2: Increasing Knowledge about Animals Used as
Food
</h5>

<p>
Authors: Adam Feltz, Silke Feltz, Jacob Caton, Zac Cogley, Mylan Engel,
Ramona Ilea, L. and Syd Johnson <br>
Speaker: Adam Feltz (University of Oklahoma)
</p>

<h5>Abstract
</h5>
<p>
We report two studies concerning the effects of education on animal
consumption behaviors. The first study used an objective measure of
knowledge of animals used as food (Feltz &amp; Feltz, 2019), and
demonstrates that a widely-available, non-optimized educational
infographic can make people more knowledgeable about animals used as
food than those in a control condition (pre-post interaction with infographic
F (1, 193) = 5.06, p = .03, ηp2= .03). In a second study, we present
evidence that those who learn something about the conditions of animals in
an animal ethics class reduce their consumption compared to those who
were not in an animal ethics class or learned nothing about the conditions
of animals (pre-post difference score knowledge by ethics class interaction
F (1, 100) = 6.27, p = .01, ηp2= .06). These results suggest that some
animal education efforts, especially optimized ones, can reduce
consumption of animal products.
</p>

<br>

<h5>
Presentation 3: Moral memory bias about the sentience of animals
</h5>

<p>
Authors: Stefan Leach, Robbie Sutton, Kristof Dhont, Karen Douglas, and
Zara Bergström <br>
Speaker: Stefan Leach (University of Kent)
</p>

<h5>Abstract</h5>
<p>
The sentience of animals, including their ability to suffer, is central to a
number of important moral issues. It is currently unclear whether people
are, on average, accurate or inaccurate with regards to how they perceive
animals’ sentience, because judgements about animals’ minds have yet to
be investigated in a way that can be compared against objective standards
of accuracy. We present six pre-registered studies (n = 2257), including
one representative sample (n = 1000), testing how people remember
evidence of animals’ sentience; allowing us to objectively determine
whether people overestimate (by remembering more evidence of sentience
vs. insentience) or underestimate (by remembering more evidence of
insentience vs. sentience) animals’ sentience. The results show that meat-
eaters objectively overestimate the sentience of animals that are cared-for
(e.g., dogs) but are largely even-handed about animals that are reared for
food (e.g., pigs). Meat-avoiders, on the other hand, consistently favour
sentience (vs. insentience) for both animals that are cared-for and those
that are reared for food. Finally, memory for sentience (vs. insentience)
selectively fades over time; meaning that people (both meat-eaters and
meat-avoiders) seem to ‘default’ towards seeing animals as more insentient
as time goes on. The results speak to whether people objectively
underestimate or overestimate animal sentience and suggest a possible
mechanism through which people maintain beliefs about animals’
(in)sentience.
</p>

<br>

<h5>Presentation 4: Speciesism, utilitarianism, and guilt
</h5>
<p>Speaker: Jim A.C. Everett (University of Kent)
</p>
<h5>Abstract</h5>
<p>
Increasing amount of work has begun to explore the philosophical concept
of ‘speciesism’ — the assignment of different moral worth based on species
membership — as a psychological construct. Despite views that legitimise
moral distinctions between human and non-human animals being seen all
around the world, much of this work has been done in Western countries.
In this work we validated the Speciesism Scale in a Chinese sample (n =
787) and in both our Chinese sample and a representative US comparison
(n = 956), explored the relationship of speciesism with the endorsement of
utilitarian moral principles, empathic concern, and guilt.
</p>

<div class=sess_btn>
<a href="https://zoom.us/j/91042630129" target="_blank" class="btn btn-primary">Join Session</a>
</div>