<% if user_signed_in? %>
<div class=sess_btn>
<a href="https://kent.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=77698331-9c76-4586-a18a-ad5c010eb99d " target="_blank" class="btn btn-primary">Join Session</a>
</div>
<h1>
Barriers and deterrents to plant-based diets
</h1>
<h3> Friday, July 2, 09:30-11:00 </h3>
<br>
<h4>
Chair: Matthew Ruby (La Trobe University)
</h4>
<br>
<h5>Presentation 1: Moral rebels and dietary deviants: How impressions
of veg*ns as moral minorities predict their social attractiveness”
</h5>

<p>
Authors: Ben De Groeve, Liselot Hudders, &amp; Brent Bleys <br>
Speaker: Ben De Groeve (Ghent University)
</p>
<h5>Abstract
</h5>
<p>
In this preregistered study we examined why people with an omnivorous
diet (i.e., omnivores) would view vegetarians and vegans (i.e., veg*ns) as
less socially attractive based on their status as stigmatized moral
minorities. Drawing on a recently demonstrated distinction between
perceived morality and sociability in research on universal dimensions of
social perception, we expected that veg*ns would be perceived as more
moral, but also as less sociable and socially attractive compared to
omnivores because of stereotypes based on their moral deviance:
moralistic and eccentric impressions. Using an online questionnaire, a
diverse sample of UK omnivores were randomly allocated to answer
questions about either vegetarians, vegans or omnivores. Results largely
confirmed our hypotheses yet the effect of moralistic impressions on social
attractiveness was particularly strong and vegetarians had a more
favourable profile compared to vegans. Our findings highlight the social
implications of be(com)ing veg*n and its relevance for social marketing.
</p>

<br>

<h5>
Presentation 2: Australian perceptions of the benefits and barriers to
vegetarian diets
</h5>

<p>
Authors: Matthew B. Ruby &amp; Ashley Rattenbury <br>
Speaker: Matthew B. Ruby (La Trobe University)
</p>

<h5>Abstract
</h5>
<p>
Although plant-based diets are growing in popularity, there continues to be
widespread disagreement about their advantages and disadvantages,
particularly regarding sustainability. In a pre-registered study, we
investigated perceptions of the barriers and benefits of vegetarian diets,
dietary behavior, and beliefs about the environmental impact of meat eating
in an online Australian sample (n = 740). The most agreed upon barriers
were liking eating meat, one’s family eating meat, and limited choice when
eating out, and the most agreed upon benefits were eating more fruits and
vegetables, helping animals, and helping the environment, although the
impact of diet was perceived to be smaller than all other assessed pro-
environmental actions (e.g., recycling, using public transit). Mean
perceptions of barriers and benefits significantly predicted current meat
intake and willingness to reduce and eliminate meat intake. Results
suggest that advocacy groups can more effectively utilize environmental
arguments to promote plant-based diets.
</p>

<br>

<h5>
Presentation 3: Motivated taste perception: Why do meat-eaters
expect vegan products to taste so bad?
</h5>

<p>
Authors: Daniel Rosenfeld &amp; A. Janet Tomiyama <br>
Speaker: Daniel Rosenfeld (University of California) </p>
<h5>Abstract</h5>
<p>
Vegan alternatives to animal-based foods are becoming increasingly
mainstream. Yet many meat-eaters remain biased against consuming
these products. Through a highly powered, preregistered study (n = 405),
we investigated meat-eaters’ expectations about the taste of vegan ice
cream. Meat-eaters expected vegan ice cream to taste substantially worse
than dairy ice cream tastes (d = 2.22), an effect partially explained by
perceptions that vegan ice cream is more unnatural and abnormal than
dairy ice cream is. Moderation analyses indicated that meat-eaters who
endorsed carnism more strongly or relied more heavily on the moral
foundation purity exhibited the greatest bias against vegan ice cream.
These findings suggest that meat-eaters may engage in motivated taste
perception, expecting vegan products to taste far worse than their animal-
based counterparts. Delegitimizing carnism and combating the perceptions
that vegan products are unnatural and abnormal offer promise for reducing
bias and increasing consumer acceptance of these products.
</p>

<br>

<h5>Presentation 4: Barriers to meat reduction: Australians’ attitudes
towards vegetarian and vegans
</h5>
<p>
Authors: Hannibal Thai, Kelly S. Fielding, &amp; Winnifred R. Louis <br>
Speaker: Hannibal Thai (University of Queensland)</p>
<h5>Abstract</h5>
<p>
Two studies, a correlational survey (n = 550) and an experimental survey
(n = 500), explored barriers to meat reduction. The first study investigated a
mechanism underlying perceptions of vegetarians, i.e., whether
confirmation of ‘do-gooder’ stereotype (moralizing, and being judgmental)
leads to poor evaluation. A 2 (participant’s gender) x 2 (target’s diet) x 3
(stereotype confirmation) design found that vegetarian ‘do-gooder’ targets
were perceived to be more ethical and there was no negative impact of
their moralising on liking of the target. The correlational survey, drawing on
an Australian community sample, explored other potential barriers such as
personal and perceived societal attitudes to meat-free individuals. Having
more positive perceptions of meat-reducing individuals or vegetarians was
associated with higher willingness to reduce meat/animal
product consumption. These findings suggest that vegetarian individuals
who confirm stereotypes do not necessarily attract negative evaluations,
however, overall attitudes to vegetarians could deter reduction in meat
consumption.
</p>


<div class=sess_btn>
<a href="https://kent.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=77698331-9c76-4586-a18a-ad5c010eb99d " target="_blank" class="btn btn-primary">Join Session</a>
</div>

<%else %>
  <p>Please sign in to view the content.</p>
<%end%>