<div class=sess_btn>
<a href="https://zoom.us/j/94331454600" target="_blank" class="btn btn-primary">Join Session</a>
</div>
<h1>
Encircling the animal-industrial
complex: Social science
reflections on Animal Rebellion
and the legacy of direct action for
climate/animal activism
</h1>
<br>
<h2>
Chair: Alex Lockwood, PhD (University of Sunderland)
</h2>
<br>
<h5>Presentation 1: Why Language?
</h5>

<p>Speaker: Emma Franklin (University of Sheffield)
</p>
<h5>Abstract
</h5>
<p>
When direct action is required, few people think of language. In some forms
of activism, language intervention can even be met with hostility: we need
bolt cutters, not better words. But language itself is a form of direct action;
language disrupts, controls, persuades and resists. The language we
choose to use, as well as the language we hear, has an immeasurable
impact on our thoughts, our actions, and the world around us, and
awareness of language is a powerful tool to have in our arsenal. This talk
will draw on the works of Arran Stibbe, Joan Dunayer and George Lakoff to
demonstrate the critical role of language in achieving justice for animals,
both in terms of our everyday interactions and in our organised campaigns.
Clever use of framing and narrative has long been recognised as a
cornerstone of activism in other social justice movements, and only now is
it beginning to receive serious attention in the case of animal justice. In this
talk, specific examples will be used to illustrate the importance of framing to
our cause, and the case will be made for a carefully considered, language-
driven strategy.
</p>

<br>
<h5>
Presentation 2: Creativity and Strategic Narrative in Telling Animal
Stories.
</h5>

<p>Speaker: Alex Lockwood (University of Sunderland)
</p>
<h5>Abstract
</h5>
<p>
“As Dr Franklin shows us, the language we use to tell the stories of more
than human worlds and the other animals who live in them is critical in
shaping our relationships with them. Here, I present findings from research
conducted from interviews with the core initiating team of Animal
Rebellion as well as close reading and textual analysis of the movement’s
materials, exploring how many Animal Rebellion employed narrative
models to make a sea change in animal rights activism in the UK. I then
look at ways to deconstruct and reconstruct these concepts
to defamiliarize normal exploitative relations and present opportunities to
reframe and so reform relationships into more just, equal and co-creative
multispecies worlds.  
From this research, I present a framework for how a better understanding
of story structure and the way narrative operates within social movements
can aid national and local level advocacy organisations in creating more
effective messaging strategies for its target audiences as well as for
movement cohesion and efficacy. This can then bring about long-lasting
pro-animal shifts in behaviour. And frustrated by the many calls across
activism and civil society calling for ‘a new story’ without actually providing
one, this talk will offer up specific examples developed through this
process. Here, multiple stories fit together to create new strategic
narratives that can, over time, change the common sense conversation
towards one where we think of animals as moral subjects in their own right.
“
</p>
<br>

<h5>Presentation 3: Rebelling for All Species: A Case Study in Connecting
Climate and Animal Justice.
</h5>
<p>Speaker: Kerri Waters  (Animal Rebellion) </p>
<h5>Abstract</h5>
<p>
Over the last year, as names like Greta Thunberg and Extinction Rebellion
have become commonplace in UK households, the public has become
more attuned to the climate crisis than ever before. Yet for a long time,
public dialogue has largely glossed over the environmental damage of
animal farming. Meanwhile, despite animal advocates and
environmentalists sharing plenty of common ground, the climate movement
has seldom discussed how animals ought to be included in society’s
visions for climate justice. In an effort to bring the animal justice and climate
movements together, in 2019 a group of animal advocates formed Animal
Rebellion, a mass movement organisation working alongside Extinction
Rebellion and which argues that if we hope to end the climate emergency,
we must end the animal farming and fishing industries. This talk will tell the
story of Animal Rebellion from an organiser’s perspective, reflecting upon
experiences in the streets to draw out key learnings about movement
strategy, coalition building, not just with fellow activists but with farming
groups, and how we might move forward in building public support for a
transition away from animal farming.
</p>
<br>
<h5>
Presentation 4: Social Movements, Strategy, Grassroots, Organising.
</h5>
<p>Speaker: Dan Kidby (Animal Think Tank)</p>
<h5>Abstract</h5>
<p>
Social change happens in a myriad of ways: 1-1 personal transformation,
such as vegan outreach; creating of alternatives, whether sanctuaries,
clean meat, or direct action; and political campaigning, including social
movements. This talk will explore some of the work on best practice from
past and contemporary social movements that is applicable to Animal
Justice, including the lived experience of organising with Animal Rebellion.
In particular the session will consider the different aspects of ‘Momentum-
driven Organising’, notably: story, strategy, organising structure, culture
and leadership development. Momentum-driven Organising builds on the
work of Gene Sharp’s nonviolent civil resistance and other theorists and
organisers to offer a framework for organising social movements. Key
components are Story-based Strategy, which is well established as 
a methodology, and decentralized organising and movement culture. The
approach has been fully or partially adopted by
many grassroot campaigning groups in North America in particular,
including Sunrise, 350.org, IfNotNow, Black Lives Matter, etc. Sharp’s
underlying theory has been applied particularly across the global south and
ex-USSR states to remove dictators, as exemplified by Otpor! In Serbia.
The talk will explore how the approach can be applied to Animal Justice,
and ask what questions remain for social movement organisers and
researchers to explore and understand in order to build a mass movement
for Animal Justice.
</p
</p>
<div class=sess_btn>
<a href="https://zoom.us/j/94331454600" target="_blank" class="btn btn-primary">Join Session</a>
</div>