<% if user_signed_in? %>
<div class=sess_btn>
<a href="https://kent.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=d71b7713-4b67-4270-951b-ad5c00d085e1 " target="_blank" class="btn btn-primary">Join Session</a>
</div>
<h1>
Understanding why adults abuse
animals: New developments in
theory and evidence-based
practice
</h1>

<h3> Thursday, July 1, 09:30-10:45</h3>
<br>
<h4>
Chair: Emma Alleyne (University of Kent)
</h4>
<br>
<h3>
Symposium Abstract 
</h3>
<p>
One of the most acute and distressing animal welfare problems is abuse
carried out by adults. There are difficulties to detect, intervene, and prevent
animal cruelty incidents due to the very nature of animals as
‘voiceless victims’. As a result, even when complaints are made,
convictions are rare and we are left with a limited evidence base to inform
practice. Despite these challenges, there is a growing field of research to
develop a greater understanding of the factors associated with animal
abuse, the mechanisms underpinning this behaviour, and effective
intervention strategies across disciplines. The aim of this symposium is
two-fold: (1) to present the latest developments in research and
methodology examining psychological mechanisms that support animal
abuse attitudes; and (2) to present applied perspectives that inform various
approaches to interventions.
</p>

<h5>Presentation 1: Empathy and Aggression Towards Animals
</h5>

<p>
Author:
Emma Alleyne &amp; Tom Denson <br>
Speaker: Emma Alleyne
</p>

<h5>Abstract
</h5>
<p>
Animal abuse is a prevalent, yet understudied, form of aggression.
Although we have a good understanding of why adults are violent towards
each other, little research exists on why they engage in animal abuse.
Therefore, we currently depend on theories from interpersonal violence for
understanding human-animal aggression, which leaves us with open
questions regarding animal-oriented factors that enable this behaviour. The
role of empathy in the broader forensic psychological literature has been
evidenced as criminogenic and worthy of clinical attention. The aim of this
presentation is to explore how empathy facilitates aggression towards
animals. Further, we will examine, using experimental methods, if empathy
is a suitable target to reduce propensity to engage in animal abuse.
</p>
<br>
<h5>
Presentation 2: The Importance of Combining Direct and Indirect
Measures in Studies Investigating Attitudes Towards Animals
</h5>

<p>
Authors: Lazaros Gonidis &amp; Jessica Slade <br>
Speaker: Lazaros Gonidis (University of Kent)
</p>

<h5>Abstract
</h5>

<p>
Existing evidence suggests that the assessment of offence-supportive
attitudes using self-report measures alone could be problematic due to
social desirability. Therefore, it has been argued that indirect measures
could enhance validity when used in conjunction with direct measures. In
order to test this, we used time perception modified tasks in two
experiments. In experiment 1, participants watched a 360° video in virtual
reality and completed a food modified temporal bisection task prior and
post the video exposure. Results indicated that participants perceived
images of raw meat as threatening and demonstrated better temporal
discriminability towards them. In experiment 2, participants were randomly
allocated in one of two groups and had to play Minecraft for 10 minutes,
instructed to either not harm animals at all or focus on hunting animals.
Results indicated that participants in the hunting condition demonstrated an
overestimation of time while playing. There was no difference in the mood
and aggression questionnaires between the two conditions. Furthermore,
there were no differences in the perception of time prior and post the
Minecraft activity. The above findings highlight the importance of using
implicit and explicit methods when interpreting attitudes and behaviours
towards animals. Furthermore, we argue that different time perception
tasks could be used in conjunction with questionnaires as they have the
ability to discriminate between arousal and attentional effects.
</p>
<br>

<h5>Presentation 3: : RSPCA Animal Welfare Programme Pilot: Preliminary
Findings and Future Directions
</h5>
<p>
Author: 
Claire Blakey <br>
Speaker: Claire Blakey (RSPCA) </p>
<h5>Abstract</h5>
<p>
Each year, the RSPCA (UK) prosecute approximately 700 adults for animal
welfare offences, whereby the majority of the caseload involve incidents of
neglect. Sentencing for this type of offending usually results in a community
disposal such as fines, community service, and/or probation. Between 2017
and 2020, the RSPCA developed and trialled a community-based
education programme for adults convicted of an animal welfare offence, the
first of its kind for this type of offending within the UK. The programme was
delivered individually and consisted of two core components that covered
animal welfare education and offence-supportive attitudes. As part of the
pilot, the programme was evaluated by asking participants to complete a
series of pre- and post-psychometrics measuring emotion regulation,
impulsivity, empathy, and animal welfare knowledge. This presentation will
provide an overview of the programme, case study examples, preliminary
findings, and a discussion of future directions for animal welfare
interventions within the Criminal Justice System and RSPCA.
</p>

<div class=sess_btn>
<a href="https://kent.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=d71b7713-4b67-4270-951b-ad5c00d085e1 " target="_blank" class="btn btn-primary">Join Session</a>
</div>

<%else %>
  <p>Please sign in to view the content.</p>
<%end%>