sym5
<a href="#" class="btn btn-primary">Join Session</a
<h1>
<h1>
Animal rights big and small:
Considering scale of activism
</h1>
<h2>
Chair: Corey Wrenn (University of Kent)
</h2>

<h2>
Symposium Abstract 
</h2>
<p>
This panel examines one of the most fundamental questions of animal
advocacy: is social change a bottom-up or top-to-bottom process? To that
end, this panel covers grassroots activism in the local Kent community as
well as professionalized, national and international level activism engaged
by non-profits and their supporters. The panel also explores the sometimes
collaborative and other times antagonistic relationship between the two
levels of activism.
</p>

<h3>Presentation 1: Living in Harmony: A Journey of Vegan and Earth-
focused Activism in Kent
</h3>

<h3>
Author
</h3>
<p>
Jo Kidd
</p>
<h4>Speaker: Jo Kidd (Kent Vegan Events)
</h4>
<h5>Abstract
</h5>
<p>
Jo is a lifelong community activist and organiser. Her academic background
is in political science, social anthropology and education. She has been
vegan since 2003. Her working life has been focused on developing
social/environmental movements and enterprises, earth-focused and
earthling rights campaigning and systems change. She co-founded and
runs the Abbot’s Mill Project in Canterbury and she founded, and runs,
Kent Vegan Events. Her newest venture (along with her partner, Conrad,
and their daughter, Rosa) is Tree of Life Veganics (established in 2017)
which is small veganic farm near Faversham in Kent. The mission of Tree
of Life Veganics is to develop a working farm and learning hub to
demonstrate compassionate, earth-friendly farming, based on veganic
permaculture and agroforestry. In this presentation, Jo discusses her
activism journey: the peaks and troughs, tips and things to avoid, and how
she got to be farming in her 50s!
</p>

<h3>
Presentation 2: Being Vegan: An Exploration of Vegan Living
Amongst Self-Identified Vegans in East Kent
</h3>

<h3>
Authors
</h3>
<p>
Monica Becker
</p>

<h4>Speaker: Monica Becker (University of Kent)
</h4>
<h5>Abstract
</h5>
<p>
A lifestyle that abstains from the utilization of animal products can extend
as far as is practical and sustainable within one’s environment. This study
explores common behaviours and habits associated with vegan living in
East Kent, United Kingdom. I utilize interviews and autoethnography to
identify behaviours associated with veganism, and draw on event
observation to explore how vegans engage with their environment by
creating social arenas within their community. My research findings indicate
that foodways (dietary practices by choice), which exclude the consumption
of animals, are the most influential behaviours in self-identified vegans.
Additionally, three main motivations including animal welfare, the
environment, and for health, are all recurring reasons for upholding a
vegan lifestyle. This research demonstrates that there is on one way to
sustain a vegan lifestyle; nonetheless, a lifestyle which excludes the use
and consumption of animals in fact achievable in East Kent.
</p>
<br>

<h3>Presentation 3: : Complicity and Resistance: A Critical Examination of
the ‘Mess’ of Companion Animal Advocacy
<h3>
Author
</h3>
<p>
Zoei Sutton 
</p>Speaker: Zoei Sutton (The University of Adelaide) </h4>
<h5>Abstract</h5>
<p>
Advocacy in the context of human-pet relationships is messy. On a macro
level, organisations dedicated to animal companions often work within
welfarist frameworks – dedicated to the improved treatment of ‘pet’ animals
while refraining from critiquing the use and abuse of these animals for
human companionship. On a micro level, human owners often play a
crucial role in supporting or suppressing their animal companions’
resistance to everyday manifestations of power, however their perpetuation
of the use of other animals as ‘pets’ makes for an unavoidable complicity in
animal oppression. These complicities pose a difficult problematic for
scholars and advocates seeking to pursue liberation for animals used as
companions, as well as other animals whose exploitation is connected to,
and supported by, these highly accepted practices. This presentation
draws on qualitative interviews and in-home observations with 30 humans
and ‘their’ animal companions to demonstrate the ‘mess’ of advocating for
and with animals who are used as ‘lively’ commodities. In it, I will highlight
the social and societal factors that categorize the use of animals for
companionship and demonstrate how these shape advocacy efforts on a
micro and macro scale. I also discuss key sites of everyday resistance in
these human-animal entanglements to argue that complicity does not
entirely negate any potential for resistance, but rather that a nuanced
understanding of resistance to anthroparchal power has something unique
to offer broader projects of nonhuman animal liberation. This presentation,
then, demonstrates how animals categorized as ‘pets’ might be included in
broader narratives of animal liberation as more than just a ‘best case
scenario’ for future multispecies entanglements.
</p>

<h3>Presentation 4: : Professionalized Animal Rights and the Grassroots
Squeeze
<h3>
Author
</h3>
<p>
Corey Lee Wrenn
</p>Speaker: Corey Lee Wrenn (University of Kent)</h4>
<h5>Abstract</h5>
<p>
In the 1970s, professionalization emerged as a new and cemented form of
advocacy in the Western social movement arena which can be traced to
the state’s encroachment on grassroots resistance. In this paper, the rising
bloc of professionalized organizations is identified as powerful structural
component in the nonhuman animal rights movement given its ability to
cultivate a movement hegemony that protects and grows organizational
wealth and elite interests. As they must compete for resources in a
crowded social movement arena, this hegemony entails organizational
cooperation that privileges a compromised approach and the
marginalization of those considered too radical. To that effect, I highlight
the prioritization of moderation across the movement and the focus on
fundraising as important shifts in the animal rights movement. Indeed, this
new neoliberal movement structure has great potential to disrupt
democratic processes and stunt social movement innovation. There are a
number of tactics associated with professionalized organizations which
solidify their power to the detriment of disadvantaged grassroots entities.
This paper examines the tendency for powerful organizations to erase
competition through a code of silence. This happens by denying the
relevance, importance, or even existence of factional disagreements in the
movement. Professionalized organizations also engage symbol mining by
appropriating the tactics, images, and meanings created by radical actors
as they find resonance, thus undermining radical effectiveness in the social
movement arena. A number of key symbols under dispute are examined,
such as the meaning, relevance, and application of veganism,
intersectionality, and direct action. The Animal Rights National Conference,
held each year in the United States since 1981 offers insight to these
processes, existing as one of the few visible spaces where power is
replicated and radical protest quelled.
</p>



<a href="#" class="btn btn-primary">Join Session</a